Repository mosn/htnn, changes with the labels that .github/labeler.yml gives for each.
All labels: controller, documentation, filter manager, plugins hub

Add integration test to HTTPRoute
  controller/api/v1/validation_test.go
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/testdata/httpfilterpolicy/default_gwapi.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/default_istio.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/httproute.yml
  controller/tests/pkg/utils.go
Labels: controller

use single go.mod (#149)
  .github/dependabot.yml
  .github/workflows/test.yml
  Makefile
  controller/go.mod
  controller/go.sum
  go.mod
  go.sum
  tools/go.mod
Labels: controller

unite filename pattern
  controller/internal/translation/testdata/translation/httproute_both_no_hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute_both_no_hostnames.out.yml
  controller/internal/translation/testdata/translation/httproute_no_hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute_no_hostnames.out.yml
  controller/internal/translation/testdata/translation/merge_same_level_httpfilterpolicy.in.yml
  controller/internal/translation/testdata/translation/merge_same_level_httpfilterpolicy.out.yml
  controller/internal/translation/testdata/translation/native_plugin_only.in.yml
  controller/internal/translation/testdata/translation/native_plugin_only.out.yml
  controller/internal/translation/testdata/translation/pre_native_plugin_and_go_plugin.in.yml
  controller/internal/translation/testdata/translation/pre_native_plugin_and_go_plugin.out.yml
  controller/internal/translation/testdata/translation/virtualservice_and_section_name.in.yml
  controller/internal/translation/testdata/translation/virtualservice_and_section_name.out.yml
  controller/internal/translation/testdata/translation/virtualservice_section_name.in.yml
  controller/internal/translation/testdata/translation/virtualservice_section_name.out.yml
  controller/internal/translation/testdata/translation/virtualservice_section_name_share_host.in.yml
  controller/internal/translation/testdata/translation/virtualservice_section_name_share_host.out.yml
  controller/internal/translation/testdata/translation/virtualservice_share_host.in.yml
  controller/internal/translation/testdata/translation/virtualservice_share_host.out.yml
  controller/internal/translation/testdata/translation/virtualservice_wildcard_gateway.in.yml
  controller/internal/translation/testdata/translation/virtualservice_wildcard_gateway.out.yml
  controller/internal/translation/testdata/translation/virtualservice_wildcard_host.in.yml
  controller/internal/translation/testdata/translation/virtualservice_wildcard_host.out.yml
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/testdata/httpfilterpolicy/diff_envoyfilters.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/invalid_httpfilterpolicy.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/multi_policies.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/refer_virtualservice_across_namespace.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/valid_httpfilterpolicy.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/virtualservice_match_but_route_not.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/virtualservice_via_route_name.yml
  tools/cmd/linter/main.go
Labels: controller

add e2e test
  Makefile
  ci/data_plane_patch.yml
  ci/istio.sh
  ci/k8s.sh
  ci/kind_config.yml
  ci/port-forward.sh
  controller/Makefile
  controller/config/default/manager_auth_proxy_patch.yaml
  e2e/base/default.yml
  e2e/base/virtualservice.yml
  e2e/e2e_test.go
  e2e/pkg/k8s/k8s.go
  e2e/pkg/suite/suite.go
  e2e/tests/local_ratelimit.go
  e2e/tests/local_ratelimit.yml
  e2e/tests/virtualservice.go
  e2e/tests/virtualservice.yml
Labels: controller

fix test
  Makefile
Labels: none

tweak scope
  tools/cmd/linter/main.go
Labels: none

l
  tools/cmd/linter/main.go
Labels: none

fix
  controller/config/rbac/role.yaml
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/internal/translation/testdata/translation/httproute-both-no-hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute-no-hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute.in.yml
Labels: controller

add way to cover CP plugin in unit test (#150)
  controller/internal/translation/testdata/plugins/default.yml
  controller/internal/translation/testdata/plugins/local_ratelimit.in.yml
  controller/internal/translation/testdata/plugins/local_ratelimit.out.yml
  controller/internal/translation/translation_test.go
Labels: controller

Add integration test to HTTPRoute (#151)
  controller/api/v1/validation_test.go
  controller/config/rbac/role.yaml
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/internal/translation/testdata/translation/httproute-both-no-hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute-no-hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute.in.yml
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/testdata/httpfilterpolicy/default_gwapi.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/default_istio.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/httproute.yml
  controller/tests/pkg/utils.go
Labels: controller

add e2e test (#153)
  Makefile
  ci/data_plane_patch.yml
  ci/istio.sh
  ci/k8s.sh
  ci/kind_config.yml
  ci/port-forward.sh
  controller/Makefile
  controller/config/default/manager_auth_proxy_patch.yaml
  e2e/base/default.yml
  e2e/base/virtualservice.yml
  e2e/e2e_test.go
  e2e/pkg/k8s/k8s.go
  e2e/pkg/suite/suite.go
  e2e/tests/local_ratelimit.go
  e2e/tests/local_ratelimit.yml
  e2e/tests/virtualservice.go
  e2e/tests/virtualservice.yml
Labels: controller

adjust policy number & tweak benchmark
  controller/Makefile
  controller/tests/benchmark/httpfilterpolicy_controller_test.go
  controller/tests/benchmark/suite_test.go
Labels: controller

support HTTPRoute, part 3, add e2e test
  Makefile
  ci/data_plane_patch.yml
  ci/kind_config.yml
  e2e/Dockerfile
  e2e/base/default.yml
  e2e/base/httproute.yml
  e2e/base/virtualservice.yml
  e2e/e2e_test.go
  e2e/istio.sh
  e2e/k8s.sh
  e2e/pkg/suite/suite.go
  e2e/port-forward.sh
  e2e/tests/httproute.go
  e2e/tests/httproute.yml
  e2e/tests/local_ratelimit.go
  e2e/tests/local_ratelimit.yml
Labels: none

unite filename pattern (#152)
  controller/internal/translation/testdata/translation/httproute_both_no_hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute_both_no_hostnames.out.yml
  controller/internal/translation/testdata/translation/httproute_no_hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute_no_hostnames.out.yml
  controller/internal/translation/testdata/translation/merge_same_level_httpfilterpolicy.in.yml
  controller/internal/translation/testdata/translation/merge_same_level_httpfilterpolicy.out.yml
  controller/internal/translation/testdata/translation/native_plugin_only.in.yml
  controller/internal/translation/testdata/translation/native_plugin_only.out.yml
  controller/internal/translation/testdata/translation/pre_native_plugin_and_go_plugin.in.yml
  controller/internal/translation/testdata/translation/pre_native_plugin_and_go_plugin.out.yml
  controller/internal/translation/testdata/translation/virtualservice_and_section_name.in.yml
  controller/internal/translation/testdata/translation/virtualservice_and_section_name.out.yml
  controller/internal/translation/testdata/translation/virtualservice_section_name.in.yml
  controller/internal/translation/testdata/translation/virtualservice_section_name.out.yml
  controller/internal/translation/testdata/translation/virtualservice_section_name_share_host.in.yml
  controller/internal/translation/testdata/translation/virtualservice_section_name_share_host.out.yml
  controller/internal/translation/testdata/translation/virtualservice_share_host.in.yml
  controller/internal/translation/testdata/translation/virtualservice_share_host.out.yml
  controller/internal/translation/testdata/translation/virtualservice_wildcard_gateway.in.yml
  controller/internal/translation/testdata/translation/virtualservice_wildcard_gateway.out.yml
  controller/internal/translation/testdata/translation/virtualservice_wildcard_host.in.yml
  controller/internal/translation/testdata/translation/virtualservice_wildcard_host.out.yml
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/testdata/httpfilterpolicy/diff_envoyfilters.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/invalid_httpfilterpolicy.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/multi_policies.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/refer_virtualservice_across_namespace.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/valid_httpfilterpolicy.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/virtualservice_match_but_route_not.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/virtualservice_via_route_name.yml
  tools/cmd/linter/main.go
Labels: controller

ext_auth: fix time unit in doc (#142)
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/type.md
Labels: documentation

fix k8s path so we can run test without KUBEBUILDER_ASSETS (#130)
  controller/Makefile
  controller/tests/benchmark/httpfilterpolicy_controller_test.go
  controller/tests/benchmark/suite_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/webhook/webhook_suite_test.go
Labels: controller

support GRPCRoute
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/cmd/main.go
  controller/config/rbac/role.yaml
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/internal/translation/data_plane_state.go
  controller/internal/translation/data_plane_state_test.go
  controller/internal/translation/init_state.go
  controller/internal/translation/testdata/translation/grpcroute.in.yml
  controller/internal/translation/testdata/translation/grpcroute.out.yml
  controller/internal/translation/translation_test.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/controller/testdata/httpfilterpolicy/grpcroute.yml
  controller/tests/pkg/utils.go
  controller/tests/testdata/crd/gateway.networking.k8s.io_grpcroutes.yaml
Labels: controller

opa: support executing rego rule inside
  go.mod
  go.sum
  plugins/opa/config.go
  plugins/opa/config.pb.go
  plugins/opa/config.pb.validate.go
  plugins/opa/config.proto
  plugins/opa/config_test.go
  plugins/opa/filter.go
  plugins/opa/filter_test.go
  plugins/tests/integration/opa_test.go
  site/content/en/docs/reference/plugins/opa.md
Labels: documentation, plugins hub

fix job name
  .github/workflows/lint.yml
  site/content/en/docs/developer-guide/plugin_development.md
Labels: documentation

var in test file should be unique in the package
  plugins/tests/integration/ext_auth_test.go
Labels: plugins hub

fix the name of policy scope
  controller/internal/translation/init_state.go
  controller/internal/translation/translation.go
Labels: controller

adjust policy number & tweak benchmark (#156)
  controller/Makefile
  controller/tests/benchmark/httpfilterpolicy_controller_test.go
  controller/tests/benchmark/suite_test.go
Labels: controller

support HTTPRoute, part 3, add e2e test (#157)
  Makefile
  ci/data_plane_patch.yml
  ci/kind_config.yml
  e2e/Dockerfile
  e2e/base/default.yml
  e2e/base/httproute.yml
  e2e/base/virtualservice.yml
  e2e/e2e_test.go
  e2e/istio.sh
  e2e/k8s.sh
  e2e/pkg/suite/suite.go
  e2e/port-forward.sh
  e2e/tests/httproute.go
  e2e/tests/httproute.yml
  e2e/tests/local_ratelimit.go
  e2e/tests/local_ratelimit.yml
Labels: none

fix benchmark & tweak integration/e2e tests
  Makefile
  controller/Makefile
  controller/tests/benchmark/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  e2e/pkg/suite/suite.go
Labels: controller

fix benchmark & tweak integration/e2e tests (#165)
  Makefile
  controller/Makefile
  controller/tests/benchmark/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  e2e/pkg/suite/suite.go
Labels: controller

doc: add local_ratelimit plugin
  site/content/en/docs/reference/plugins/casbin.md
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/plugins/local_ratelimit.md
  site/content/en/docs/reference/plugins/opa.md
Labels: documentation

opa: support executing rego rule inside (#161)
  go.mod
  go.sum
  plugins/opa/config.go
  plugins/opa/config.pb.go
  plugins/opa/config.pb.validate.go
  plugins/opa/config.proto
  plugins/opa/config_test.go
  plugins/opa/filter.go
  plugins/opa/filter_test.go
  plugins/tests/integration/opa_test.go
  site/content/en/docs/reference/plugins/opa.md
Labels: documentation, plugins hub

fix job name (#162)
  .github/workflows/lint.yml
  site/content/en/docs/developer-guide/plugin_development.md
Labels: documentation

comment why we pass nil as config callbacks
  pkg/filtermanager/api/api.go
  pkg/filtermanager/filtermanager.go
  pkg/plugins/plugins.go
Labels: filter manager

fix the name of policy scope (#164)
  controller/internal/translation/init_state.go
  controller/internal/translation/translation.go
Labels: controller

var in test file should be unique in the package (#163)
  plugins/tests/integration/ext_auth_test.go
Labels: plugins hub

add limit_req plugin
  CONTRIBUTING.md
  go.mod
  pkg/request/stream.go
  plugins/limit_req/config.go
  plugins/limit_req/config.pb.go
  plugins/limit_req/config.pb.validate.go
  plugins/limit_req/config.proto
  plugins/limit_req/config_test.go
  plugins/limit_req/filter.go
  plugins/tests/integration/control_plane/control_plane.go
  plugins/tests/integration/data_plane/data_plane.go
  plugins/tests/integration/limit_req_test.go
Labels: documentation, plugins hub

adjust test
  plugins/tests/integration/limit_req_test.go
Labels: plugins hub

doc: add local_ratelimit plugin (#166)
  site/content/en/docs/reference/plugins/casbin.md
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/plugins/local_ratelimit.md
  site/content/en/docs/reference/plugins/opa.md
Labels: documentation

add pre_lua/post_lua plugins
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/envoyfilter_test.go
  controller/internal/istio/testdata/default_filters.yml
  controller/internal/translation/testdata/plugins/post_lua.in.yml
  controller/internal/translation/testdata/plugins/post_lua.out.yml
  controller/internal/translation/testdata/plugins/pre_lua.in.yml
  controller/internal/translation/testdata/plugins/pre_lua.out.yml
  controller/internal/translation/testdata/translation/post_native_plugin_and_go_plugin.in.yml
  controller/internal/translation/testdata/translation/post_native_plugin_and_go_plugin.out.yml
  controller/internal/translation/translation_test.go
  controller/plugins/lua/config.go
  controller/plugins/plugins.go
Labels: controller

add limit_req plugin (#168)
  CONTRIBUTING.md
  go.mod
  pkg/request/stream.go
  plugins/limit_req/config.go
  plugins/limit_req/config.pb.go
  plugins/limit_req/config.pb.validate.go
  plugins/limit_req/config.proto
  plugins/limit_req/config_test.go
  plugins/limit_req/filter.go
  plugins/tests/integration/control_plane/control_plane.go
  plugins/tests/integration/data_plane/data_plane.go
  plugins/tests/integration/limit_req_test.go
Labels: documentation, plugins hub

comment why we pass nil as config callbacks (#167)
  pkg/filtermanager/api/api.go
  pkg/filtermanager/filtermanager.go
  pkg/plugins/plugins.go
Labels: filter manager

fix go-control-plane version
  go.mod
  go.sum
Labels: none

fix go-control-plane version (#170)
  go.mod
  go.sum
Labels: none

add pre_lua/post_lua plugins (#169)
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/envoyfilter_test.go
  controller/internal/istio/testdata/default_filters.yml
  controller/internal/translation/testdata/plugins/post_lua.in.yml
  controller/internal/translation/testdata/plugins/post_lua.out.yml
  controller/internal/translation/testdata/plugins/pre_lua.in.yml
  controller/internal/translation/testdata/plugins/pre_lua.out.yml
  controller/internal/translation/testdata/translation/post_native_plugin_and_go_plugin.in.yml
  controller/internal/translation/testdata/translation/post_native_plugin_and_go_plugin.out.yml
  controller/internal/translation/translation_test.go
  controller/plugins/lua/config.go
  controller/plugins/plugins.go
Labels: controller

.github/labeler.yml:

controller:
- controller/**

documentation:
- site/**
- '**/*.md'

'filter manager':
- pkg/filtermanager/**

'plugins hub':
- plugins/**
