Repository mosn/htnn, changes with the labels that .github/labeler.yml gives for each.
All labels: controller, documentation, filter manager, plugins hub

.github/labeler.yml:

controller:
- controller/**

documentation:
- site/**
- '**/*.md'

'filter manager':
- pkg/filtermanager/**

'plugins hub':
- plugins/**

delete ef from other ns
  .gitignore
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/tests/integration/controller/testdata/httpfilterpolicy/diff_envoyfilters.yml
Labels: controller

so as consumer
  controller/internal/controller/consumer_controller.go
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/testdata/consumer/consumer.yml
Labels: controller

introduce configuration for controller (#214)
  .gitignore
  controller/cmd/main.go
  controller/config/config.default.yaml
  controller/internal/config/config.go
  controller/internal/config/config_test.go
  controller/internal/config/testdata/config.yaml
  controller/internal/controller/consumer_controller.go
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/testdata/consumer/consumer.yml
  controller/tests/integration/controller/testdata/httpfilterpolicy/diff_envoyfilters.yml
  go.mod
  go.sum
Labels: controller

add consumerRestriction plugin
  plugins/consumer_restriction/config.go
  plugins/consumer_restriction/config.pb.go
  plugins/consumer_restriction/config.pb.validate.go
  plugins/consumer_restriction/config.proto
  plugins/consumer_restriction/config_test.go
  plugins/consumer_restriction/filter.go
  plugins/plugins.go
  plugins/tests/integration/consumer_restriction_test.go
  plugins/tests/integration/data_plane/bootstrap.yml
  site/content/en/docs/developer-guide/plugin_development.md
Labels: documentation, plugins hub

fix typo
  controller/api/v1/consumer_types.go
  controller/api/v1/httpfilterpolicy_types.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/config/crd/bases/mosn.io_httpfilterpolicies.yaml
  controller/config/samples/mosn.io_v1_consumer.yaml
Labels: controller

limitReq: unsigned int is better semantically
  plugins/limit_req/config.pb.go
  plugins/limit_req/config.proto
  plugins/limit_req/config_test.go
Labels: plugins hub

consumer: add e2e (#217)
  Makefile
  e2e/pkg/k8s/k8s.go
  e2e/pkg/suite/suite.go
  e2e/tests/consumer.go
  e2e/tests/consumer.yml
Labels: none

add plugin order check (#218)
  pkg/plugins/plugins.go
Labels: none

fix typo (#221)
  controller/api/v1/consumer_types.go
  controller/api/v1/httpfilterpolicy_types.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/config/crd/bases/mosn.io_httpfilterpolicies.yaml
  controller/config/samples/mosn.io_v1_consumer.yaml
Labels: controller

init ServiceRegistry
  controller/PROJECT
  controller/api/v1/consumer_types.go
  controller/api/v1/serviceregistry_types.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/cmd/main.go
  controller/config/crd/bases/mosn.io_serviceregistries.yaml
  controller/config/crd/kustomization.yaml
  controller/config/rbac/role.yaml
  controller/config/rbac/serviceregistry_editor_role.yaml
  controller/config/rbac/serviceregistry_viewer_role.yaml
  controller/config/samples/kustomization.yaml
  controller/config/samples/mosn.io_v1_serviceregistry.yaml
  controller/internal/controller/serviceregistry_controller.go
  controller/internal/registry/registry.go
  controller/pkg/registry/registry.go
  controller/registries/nacos/config.go
  controller/registries/nacos/config.pb.go
  controller/registries/nacos/config.pb.validate.go
  controller/registries/nacos/config.proto
  controller/registries/registries.go
Labels: controller

fmt
  controller/registries/nacos/config.proto
Labels: controller

cel: add request.header/query/query_path (#219)
  pkg/expr/cel/cel.go
  pkg/expr/cel/cel_test.go
  site/content/en/docs/reference/expr.md
  site/content/zh-hans/docs/reference/expr.md
Labels: documentation

disable auto-updates for Envoy in examples
  .github/dependabot.yml
Labels: none

add consumerRestriction plugin (#220)
  plugins/consumer_restriction/config.go
  plugins/consumer_restriction/config.pb.go
  plugins/consumer_restriction/config.pb.validate.go
  plugins/consumer_restriction/config.proto
  plugins/consumer_restriction/config_test.go
  plugins/consumer_restriction/filter.go
  plugins/plugins.go
  plugins/tests/integration/consumer_restriction_test.go
  plugins/tests/integration/data_plane/bootstrap.yml
  site/content/en/docs/developer-guide/plugin_development.md
Labels: documentation, plugins hub

add zh docs for keyAuth
  site/cmd/translator/prompt.txt
  site/content/en/docs/reference/plugins/key_auth.md
  site/content/zh-hans/docs/reference/plugins/key_auth.md
Labels: documentation

add zh docs for keyAuth (#227)
  site/cmd/translator/prompt.txt
  site/content/en/docs/reference/plugins/key_auth.md
  site/content/zh-hans/docs/reference/plugins/key_auth.md
Labels: documentation

ci: fix paths-ignore
  .github/workflows/test.yml
Labels: none

fix test race
  pkg/filtermanager/filtermanager_test.go
Labels: filter manager

OnLog didn't run in goroutine
  pkg/filtermanager/filtermanager.go
Labels: filter manager

init ServiceRegistry (#223)
  controller/PROJECT
  controller/api/v1/serviceregistry_types.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/cmd/main.go
  controller/config/crd/bases/mosn.io_serviceregistries.yaml
  controller/config/crd/kustomization.yaml
  controller/config/rbac/role.yaml
  controller/config/rbac/serviceregistry_editor_role.yaml
  controller/config/rbac/serviceregistry_viewer_role.yaml
  controller/config/samples/kustomization.yaml
  controller/config/samples/mosn.io_v1_serviceregistry.yaml
  controller/internal/controller/serviceregistry_controller.go
  controller/internal/registry/registry.go
  controller/pkg/registry/registry.go
  controller/registries/nacos/config.go
  controller/registries/nacos/config.pb.go
  controller/registries/nacos/config.pb.validate.go
  controller/registries/nacos/config.proto
  controller/registries/registries.go
Labels: controller

limitReq: unsigned int is better semantically (#222)
  plugins/limit_req/config.pb.go
  plugins/limit_req/config.proto
  plugins/limit_req/config_test.go
Labels: plugins hub

follow the protobuf style
  buf.yaml
  controller/tests/integration/controller/testdata/consumer/consumer.yml
  plugins/casbin/config.pb.go
  plugins/casbin/config.proto
  plugins/casbin/config_test.go
  plugins/hmac_auth/config.pb.go
  plugins/hmac_auth/config.proto
  plugins/hmac_auth/filter.go
  plugins/hmac_auth/filter_test.go
  plugins/key_auth/config.pb.go
  plugins/key_auth/config.proto
  plugins/key_auth/filter.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/key_auth_test.go
  site/content/en/docs/concept/consumer.md
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/reference/plugins/key_auth.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/reference/plugins/key_auth.md
Labels: controller, documentation, plugins hub

ServiceRegistry: add webhook
  controller/PROJECT
  controller/api/v1/customization.go
  controller/api/v1/serviceregistry_webhook.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/cmd/main.go
  controller/config/crd/bases/mosn.io_serviceregistries.yaml
  controller/config/crd/kustomization.yaml
  controller/config/crd/patches/cainjection_in_serviceregistries.yaml
  controller/config/crd/patches/webhook_in_serviceregistries.yaml
  controller/config/webhook/manifests.yaml
  controller/internal/controller/serviceregistry_controller.go
  controller/internal/registry/registry.go
  controller/pkg/registry/registry.go
Labels: controller

fmt
  plugins/casbin/config.proto
Labels: plugins hub

pin dev dependencies
  Makefile
  plugins/casbin/config.proto
  tools/Dockerfile.dev
Labels: plugins hub

disable auto-updates for Envoy in examples (#226)
  .github/dependabot.yml
Labels: none

doc the OnLog and rewrite the casbin filter
  pkg/file/fs.go
  pkg/filtermanager/api/api.go
  pkg/filtermanager/filtermanager.go
  plugins/casbin/config.go
  plugins/casbin/filter.go
Labels: filter manager, plugins hub

ci: fix paths-ignore (#229)
  .github/workflows/test.yml
Labels: none

docs: add hmac_auth
  site/README.md
  site/cmd/translator/main.go
  site/cmd/translator/prompt.txt
  site/content/en/docs/concept/consumer.md
  site/content/en/docs/reference/plugins/hmac_auth.md
  site/content/en/docs/reference/plugins/key_auth.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/reference/plugins/hmac_auth.md
  site/go.mod
  site/go.sum
Labels: documentation

ServiceRegistry: add webhook (#232)
  controller/PROJECT
  controller/api/v1/customization.go
  controller/api/v1/serviceregistry_webhook.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/cmd/main.go
  controller/config/crd/bases/mosn.io_serviceregistries.yaml
  controller/config/crd/kustomization.yaml
  controller/config/crd/patches/cainjection_in_serviceregistries.yaml
  controller/config/crd/patches/webhook_in_serviceregistries.yaml
  controller/config/webhook/manifests.yaml
  controller/internal/controller/serviceregistry_controller.go
  controller/internal/registry/registry.go
  controller/pkg/registry/registry.go
Labels: controller

follow the protobuf style (#231)
  buf.yaml
  controller/tests/integration/controller/testdata/consumer/consumer.yml
  plugins/casbin/config.pb.go
  plugins/casbin/config.proto
  plugins/casbin/config_test.go
  plugins/hmac_auth/config.pb.go
  plugins/hmac_auth/config.proto
  plugins/hmac_auth/filter.go
  plugins/hmac_auth/filter_test.go
  plugins/key_auth/config.pb.go
  plugins/key_auth/config.proto
  plugins/key_auth/filter.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/key_auth_test.go
  site/content/en/docs/concept/consumer.md
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/reference/plugins/key_auth.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/reference/plugins/key_auth.md
Labels: controller, documentation, plugins hub

ServiceRegistry: add conditions
  controller/api/v1/conditions.go
  controller/api/v1/consumer_types.go
  controller/api/v1/serviceregistry_types.go
  controller/internal/controller/serviceregistry_controller.go
  controller/tests/integration/controller/serviceregistry_controller_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/controller/testdata/serviceregistry/default.yml
  controller/tests/pkg/utils.go
Labels: controller

limit_req: an uint32 can't be ignore_empty and gt > 0 at the same time
  plugins/limit_req/config.pb.go
  plugins/limit_req/config.pb.validate.go
  plugins/limit_req/config.proto
  site/content/en/docs/reference/plugins/limit_req.md
  site/content/zh-hans/docs/reference/plugins/limit_req.md
Labels: documentation, plugins hub

fix test race (#228)
  pkg/filtermanager/filtermanager_test.go
Labels: filter manager

limit_req: an uint32 can't be ignore_empty and gt > 0 at the same time (#243)
  plugins/limit_req/config.pb.go
  plugins/limit_req/config.pb.validate.go
  plugins/limit_req/config.proto
  site/content/en/docs/reference/plugins/limit_req.md
  site/content/zh-hans/docs/reference/plugins/limit_req.md
Labels: documentation, plugins hub

ServiceRegistry: add conditions (#242)
  controller/api/v1/conditions.go
  controller/api/v1/consumer_types.go
  controller/api/v1/serviceregistry_types.go
  controller/internal/controller/serviceregistry_controller.go
  controller/tests/integration/controller/serviceregistry_controller_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/controller/testdata/serviceregistry/default.yml
  controller/tests/pkg/utils.go
Labels: controller

docs: add hmac_auth (#241)
  site/README.md
  site/cmd/translator/main.go
  site/cmd/translator/prompt.txt
  site/content/en/docs/concept/consumer.md
  site/content/en/docs/reference/plugins/hmac_auth.md
  site/content/en/docs/reference/plugins/key_auth.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/reference/plugins/hmac_auth.md
  site/go.mod
  site/go.sum
Labels: documentation

doc the OnLog and rewrite the casbin filter (#240)
  pkg/file/fs.go
  pkg/filtermanager/api/api.go
  pkg/filtermanager/filtermanager.go
  plugins/casbin/config.go
  plugins/casbin/filter.go
Labels: filter manager, plugins hub

choose a better name for plugin group
  controller/api/v1/validation.go
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/envoyfilter_test.go
  controller/internal/translation/testdata/plugins/inner_lua.in.yml
  controller/internal/translation/testdata/plugins/inner_lua.out.yml
  controller/internal/translation/testdata/plugins/outer_lua.in.yml
  controller/internal/translation/testdata/plugins/outer_lua.out.yml
  controller/internal/translation/testdata/translation/post_native_plugin_and_go_plugin.in.yml
  controller/internal/translation/testdata/translation/post_native_plugin_and_go_plugin.out.yml
  controller/plugins/local_ratelimit/config.go
  controller/plugins/lua/config.go
  e2e/tests/lua.yml
  pkg/plugins/plugins.go
  pkg/plugins/type.go
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/reference/plugins/inner_lua.md
  site/content/en/docs/reference/plugins/local_ratelimit.md
  site/content/en/docs/reference/plugins/outer_lua.md
  site/content/en/docs/reference/plugins/post_lua.md
Labels: controller, documentation

pin dev dependencies (#233)
  Makefile
  plugins/casbin/config.proto
  tools/Dockerfile.dev
Labels: plugins hub
