Repository mosn/htnn, changes with the labels that .github/labeler.yml gives for each.
All labels: controller, documentation, filter manager, plugins hub

.github/labeler.yml:

controller:
- controller/**

documentation:
- site/**
- '**/*.md'

'filter manager':
- pkg/filtermanager/**

'plugins hub':
- plugins/**

consumer: fulfill controller
  controller/PROJECT
  controller/api/v1/conditions.go
  controller/api/v1/consumer_types.go
  controller/api/v1/consumer_webhook.go
  controller/api/v1/httpfilterpolicy_types.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/cmd/main.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/config/crd/kustomization.yaml
  controller/config/crd/patches/cainjection_in_consumers.yaml
  controller/config/crd/patches/webhook_in_consumers.yaml
  controller/config/webhook/manifests.yaml
  controller/internal/controller/consumer_controller.go
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/testdata/consumer/consumer.yml
Labels: controller

reduce alloction in per-req filter factory
  Makefile
  pkg/filtermanager/filtermanager.go
  pkg/filtermanager/filtermanager_test.go
Labels: filter manager

add clang-format to fmt proto (#194)
  .clang-format
  .github/workflows/lint.yml
  Makefile
  api/v1/header.proto
  plugins/casbin/config.proto
  plugins/demo/config.proto
  plugins/ext_auth/config.proto
  plugins/key_auth/config.proto
  plugins/opa/config.proto
  tools/Dockerfile.dev
Labels: plugins hub

reduce alloction in per-req filter factory (#198)
  Makefile
  pkg/filtermanager/filtermanager.go
  pkg/filtermanager/filtermanager_test.go
Labels: filter manager

add hmac_auth plugin (#196)
  plugins/hmac_auth/config.go
  plugins/hmac_auth/config.pb.go
  plugins/hmac_auth/config.pb.validate.go
  plugins/hmac_auth/config.proto
  plugins/hmac_auth/config_test.go
  plugins/hmac_auth/filter.go
  plugins/hmac_auth/filter_test.go
  plugins/limit_req/config.pb.go
  plugins/plugins.go
  plugins/tests/integration/control_plane/control_plane.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/hmac_auth_test.go
Labels: plugins hub

key_auth: fullfil (#195)
  plugins/key_auth/config_test.go
  plugins/key_auth/filter.go
  plugins/tests/integration/key_auth_test.go
Labels: plugins hub

consumer: fulfill controller (#197)
  controller/PROJECT
  controller/api/v1/conditions.go
  controller/api/v1/consumer_types.go
  controller/api/v1/consumer_webhook.go
  controller/api/v1/httpfilterpolicy_types.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/cmd/main.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/config/crd/kustomization.yaml
  controller/config/crd/patches/cainjection_in_consumers.yaml
  controller/config/crd/patches/webhook_in_consumers.yaml
  controller/config/webhook/manifests.yaml
  controller/internal/controller/consumer_controller.go
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/testdata/consumer/consumer.yml
Labels: controller

consumer: add filters in dp
  controller/api/v1/consumer_types.go
  controller/internal/translation/merged_state.go
  pkg/consumer/consumer.go
  pkg/consumer/consumer_test.go
  pkg/filtermanager/filtermanager.go
  pkg/filtermanager/filtermanager_test.go
  pkg/filtermanager/model/model.go
  pkg/plugins/plugins.go
  plugins/opa/filter.go
  plugins/tests/integration/consumer_test.go
  plugins/tests/integration/control_plane/control_plane.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/filtermanager_test.go
Labels: controller, filter manager, plugins hub

unify pkg usage
  controller/internal/istio/envoyfilter_test.go
  controller/internal/translation/translation.go
  controller/plugins/local_ratelimit/config.go
  controller/plugins/lua/config.go
  examples/dev_your_plugin/plugins/your_plugin.go
  go.mod
  pkg/consumer/consumer.go
  pkg/plugins/mock.go
  pkg/plugins/type.go
  plugins/casbin/config.go
  plugins/demo/config.go
  plugins/ext_auth/config.go
  plugins/hmac_auth/config.go
  plugins/hmac_auth/filter_test.go
  plugins/key_auth/config.go
  plugins/limit_req/config.go
  plugins/opa/config.go
  plugins/opa/filter.go
  plugins/tests/integration/test_plugins.go
Labels: controller, plugins hub

fix random controller test failure & reduce reconciliation
  controller/internal/controller/consumer_controller.go
  controller/internal/controller/controller.go
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/internal/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/consumer_controller_test.go
Labels: controller

consumer: add filters in dp (#199)
  controller/api/v1/consumer_types.go
  controller/internal/translation/merged_state.go
  pkg/consumer/consumer.go
  pkg/consumer/consumer_test.go
  pkg/filtermanager/filtermanager.go
  pkg/filtermanager/filtermanager_test.go
  pkg/filtermanager/model/model.go
  pkg/plugins/plugins.go
  plugins/opa/filter.go
  plugins/tests/integration/consumer_test.go
  plugins/tests/integration/control_plane/control_plane.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/filtermanager_test.go
Labels: controller, filter manager, plugins hub

unify pkg usage (#200)
  controller/internal/istio/envoyfilter_test.go
  controller/internal/translation/translation.go
  controller/plugins/local_ratelimit/config.go
  controller/plugins/lua/config.go
  examples/dev_your_plugin/plugins/your_plugin.go
  go.mod
  pkg/consumer/consumer.go
  pkg/plugins/mock.go
  pkg/plugins/type.go
  plugins/casbin/config.go
  plugins/demo/config.go
  plugins/ext_auth/config.go
  plugins/hmac_auth/config.go
  plugins/hmac_auth/filter_test.go
  plugins/key_auth/config.go
  plugins/limit_req/config.go
  plugins/opa/config.go
  plugins/tests/integration/test_plugins.go
Labels: controller, plugins hub

doc: add key_auth
  site/content/en/docs/reference/plugins/key_auth.md
Labels: documentation

fix random controller test failure & reduce reconciliation (#202)
  controller/internal/controller/consumer_controller.go
  controller/internal/controller/controller.go
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/internal/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/consumer_controller_test.go
Labels: controller

consumer: add filters in cp
  controller/api/v1/consumer_types.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/internal/controller/consumer_controller.go
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/testdata/consumer/consumer.yml
  controller/tests/integration/controller/testdata/consumer/consumer_with_filter.yml
  pkg/consumer/consumer.go
  pkg/consumer/consumer_test.go
  pkg/filtermanager/filtermanager.go
  pkg/filtermanager/filtermanager_test.go
  pkg/filtermanager/model/model.go
  plugins/tests/integration/data_plane/bootstrap.yml
Labels: controller, filter manager, plugins hub

small step towards auto translation
  .licenserc.yaml
  site/README.md
  site/cmd/translator/language/language.go
  site/cmd/translator/language/zh-Hans.md
  site/cmd/translator/language/zh_hans.go
  site/cmd/translator/main.go
  site/cmd/translator/prompt.txt
  site/content/en/docs/reference/plugins/_index.md
  site/content/en/docs/reference/plugins/limit_req.md
  site/content/en/docs/reference/type.md
  site/content/zh-hans/docs/reference/plugins/_index.md
  site/content/zh-hans/docs/reference/plugins/limit_req.md
  site/content/zh-hans/docs/reference/type.md
  site/go.mod
Labels: documentation

tweak
  site/content/zh-hans/docs/reference/plugins/limit_req.md
  site/content/zh-hans/docs/reference/type.md
Labels: documentation

布尔 -> boolean
  site/cmd/translator/prompt.txt
  site/content/zh-hans/docs/reference/type.md
Labels: documentation

doc: add key_auth (#203)
  site/content/en/docs/reference/plugins/key_auth.md
Labels: documentation

fix broken e2e
  Makefile
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/testdata/default_filters.yml
  controller/tests/integration/controller/consumer_controller_test.go
Labels: controller

consumer: add filters in cp (#204)
  controller/api/v1/consumer_types.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/internal/controller/consumer_controller.go
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/testdata/consumer/consumer.yml
  controller/tests/integration/controller/testdata/consumer/consumer_with_filter.yml
  pkg/consumer/consumer.go
  pkg/consumer/consumer_test.go
  pkg/filtermanager/filtermanager.go
  pkg/filtermanager/filtermanager_test.go
  pkg/filtermanager/model/model.go
  plugins/tests/integration/data_plane/bootstrap.yml
Labels: controller, filter manager, plugins hub

simplify plugins management
  pkg/plugins/plugins.go
Labels: none

small step towards auto translation (#205)
  .licenserc.yaml
  site/README.md
  site/cmd/translator/language/language.go
  site/cmd/translator/language/zh-Hans.md
  site/cmd/translator/language/zh_hans.go
  site/cmd/translator/main.go
  site/cmd/translator/prompt.txt
  site/content/en/docs/reference/plugins/_index.md
  site/content/en/docs/reference/plugins/limit_req.md
  site/content/en/docs/reference/type.md
  site/content/zh-hans/docs/reference/plugins/_index.md
  site/content/zh-hans/docs/reference/plugins/limit_req.md
  site/content/zh-hans/docs/reference/type.md
  site/go.mod
Labels: documentation

fix broken e2e (#206)
  Makefile
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/testdata/default_filters.yml
  controller/tests/integration/controller/consumer_controller_test.go
Labels: controller

fix
  controller/plugins/local_ratelimit/config.go
Labels: controller

simplify plugins management (#208)
  pkg/plugins/plugins.go
Labels: none

fix broken test caused by resolving conflict
  controller/tests/integration/controller/consumer_controller_test.go
Labels: controller

fix broken test caused by resolving conflict (#210)
  controller/tests/integration/controller/consumer_controller_test.go
Labels: controller

consumer: add consumer concept
  site/README.md
  site/cmd/translator/language/en.go
  site/cmd/translator/language/en.md
  site/cmd/translator/language/zh_hans.go
  site/cmd/translator/main.go
  site/cmd/translator/prompt.txt
  site/content/en/blog/releases/_index.md
  site/content/en/docs/concept/_index.md
  site/content/en/docs/concept/consumer.md
  site/content/en/docs/developer-guide/_index.md
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/operations-guide/_index.md
  site/content/en/docs/reference/_index.md
  site/content/en/docs/tutorial/_index.md
  site/content/zh-hans/blog/releases/_index.md
  site/content/zh-hans/docs/concept/_index.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/developer-guide/_index.md
  site/content/zh-hans/docs/operations-guide/_index.md
  site/content/zh-hans/docs/reference/_index.md
  site/content/zh-hans/docs/tutorial/_index.md
Labels: documentation

init cel
  controller/internal/istio/envoyfilter_test.go
  go.mod
  go.sum
  pkg/expr/cel/cel.go
  pkg/expr/cel/cel_test.go
  pkg/request/request.go
  site/content/en/docs/reference/expr.md
  site/content/zh-hans/docs/reference/expr.md
Labels: controller, documentation

ci: the `git diff` didn't work as missing space after !
  .github/workflows/lint.yml
  controller/internal/istio/envoyfilter_test.go
  plugins/hmac_auth/config.proto
Labels: controller, plugins hub

introduce configuration for controller
  controller/cmd/main.go
  controller/config/config.default.yaml
  controller/internal/config/config.go
  controller/internal/config/config_test.go
  controller/internal/config/testdata/config.yaml
  go.mod
  go.sum
Labels: controller

Don't auto update the protoc-gen-validate
  .github/dependabot.yml
Labels: none

Don't auto update the protoc-gen-validate (#216)
  .github/dependabot.yml
Labels: none

init cel (#212)
  controller/internal/istio/envoyfilter_test.go
  go.mod
  go.sum
  pkg/expr/cel/cel.go
  pkg/expr/cel/cel_test.go
  pkg/request/request.go
  site/content/en/docs/reference/expr.md
  site/content/zh-hans/docs/reference/expr.md
Labels: controller, documentation

consumer: add e2e
  Makefile
  e2e/pkg/k8s/k8s.go
  e2e/pkg/suite/suite.go
  e2e/tests/consumer.go
  e2e/tests/consumer.yml
Labels: none

ci: the `git diff` didn't work as missing space after ! (#213)
  .github/workflows/lint.yml
  plugins/hmac_auth/config.proto
Labels: plugins hub

add plugin order check
  pkg/plugins/plugins.go
Labels: none

cel: add request.header/query/query_path
  pkg/expr/cel/cel.go
  pkg/expr/cel/cel_test.go
  site/content/en/docs/reference/expr.md
  site/content/zh-hans/docs/reference/expr.md
Labels: documentation

consumer: add consumer concept (#211)
  site/README.md
  site/cmd/translator/language/en.go
  site/cmd/translator/language/en.md
  site/cmd/translator/language/zh_hans.go
  site/cmd/translator/main.go
  site/cmd/translator/prompt.txt
  site/content/en/blog/releases/_index.md
  site/content/en/docs/concept/_index.md
  site/content/en/docs/concept/consumer.md
  site/content/en/docs/developer-guide/_index.md
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/operations-guide/_index.md
  site/content/en/docs/reference/_index.md
  site/content/en/docs/tutorial/_index.md
  site/content/zh-hans/blog/releases/_index.md
  site/content/zh-hans/docs/concept/_index.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/developer-guide/_index.md
  site/content/zh-hans/docs/operations-guide/_index.md
  site/content/zh-hans/docs/reference/_index.md
  site/content/zh-hans/docs/tutorial/_index.md
Labels: documentation
