Repository mosn/htnn, changes with the labels that .github/labeler.yml gives for each.
All labels: controller, documentation, filter manager, plugins hub

.github/labeler.yml:

controller:
- controller/**

documentation:
- site/**
- '**/*.md'

'filter manager':
- pkg/filtermanager/**

'plugins hub':
- plugins/**

upgrade Envoy to support multi local reply header
  Makefile
  go.mod
  go.sum
  pkg/filtermanager/filtermanager.go
  pkg/filtermanager/filtermanager_test.go
  plugins/tests/integration/data_plane/data_plane.go
  plugins/tests/pkg/envoy/capi.go
Labels: filter manager, plugins hub

upgrade Envoy to support multi local reply header (#172)
  Makefile
  go.mod
  go.sum
  pkg/filtermanager/filtermanager.go
  pkg/filtermanager/filtermanager_test.go
  plugins/tests/integration/data_plane/data_plane.go
  plugins/tests/pkg/envoy/capi.go
Labels: filter manager, plugins hub

add site dependencies to dependabot
  .github/dependabot.yml
Labels: none

have to use Go 1.21
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  controller/Dockerfile
  examples/dev_your_plugin/Makefile
  go.mod
  go.sum
  tools/Dockerfile.dev
Labels: controller

have to use Go 1.21 (#175)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  controller/Dockerfile
  examples/dev_your_plugin/Makefile
  go.mod
  go.sum
  tools/Dockerfile.dev
Labels: controller

pre/post_lua: e2e & doc
  .golangci.yml
  Makefile
  controller/Dockerfile
  controller/Makefile
  controller/plugins/lua/config.go
  e2e/istio.sh
  e2e/pkg/suite/suite.go
  e2e/tests/lua.go
  e2e/tests/lua.yml
  plugins/demo/filter.go
  site/content/en/docs/reference/plugins/post_lua.md
  site/content/en/docs/reference/plugins/pre_lua.md
Labels: controller, documentation, plugins hub

init consumer crd
  controller/Makefile
  controller/PROJECT
  controller/api/v1/consumer_types.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/cmd/main.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/config/crd/kustomization.yaml
  controller/config/rbac/consumer_editor_role.yaml
  controller/config/rbac/consumer_viewer_role.yaml
  controller/config/rbac/role.yaml
  controller/config/samples/kustomization.yaml
  controller/config/samples/mosn.io_v1_consumer.yaml
  controller/internal/controller/consumer_controller.go
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/testdata/default_filters.yml
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/helper.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/controller/testdata/consumer/consumer.yml
  controller/tests/pkg/utils.go
  pkg/consumer/consumer.go
  pkg/consumer/consumer_manager.go
Labels: controller

change the generated name convension as HTTPRoute
  controller/api/v1/istio_webhook.go
  controller/api/v1/istio_webhook_test.go
Labels: controller

fix lint
  controller/api/v1/istio_webhook_test.go
Labels: controller

pre/post_lua: e2e & doc (#176)
  .golangci.yml
  Makefile
  controller/Dockerfile
  controller/Makefile
  controller/plugins/lua/config.go
  e2e/istio.sh
  e2e/pkg/suite/suite.go
  e2e/tests/lua.go
  e2e/tests/lua.yml
  plugins/demo/filter.go
  site/content/en/docs/reference/plugins/post_lua.md
  site/content/en/docs/reference/plugins/pre_lua.md
Labels: controller, documentation, plugins hub

add site dependencies to dependabot (#174)
  .github/dependabot.yml
Labels: none

'ignore_empty: false' is default, no need to specify it
  plugins/casbin/config.pb.go
  plugins/casbin/config.proto
  plugins/demo/config.pb.go
  plugins/demo/config.proto
  plugins/ext_auth/config.pb.go
  plugins/ext_auth/config.proto
  plugins/opa/config.pb.go
  plugins/opa/config.proto
Labels: plugins hub

Disable auto-updates for Envoy & Istio pkg
  .github/dependabot.yml
Labels: none

doc: add plugin limit_req
  site/content/en/docs/reference/plugins/limit_req.md
Labels: documentation

init consumer crd (#177)
  controller/Makefile
  controller/PROJECT
  controller/api/v1/consumer_types.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/cmd/main.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/config/crd/kustomization.yaml
  controller/config/rbac/consumer_editor_role.yaml
  controller/config/rbac/consumer_viewer_role.yaml
  controller/config/rbac/role.yaml
  controller/config/samples/kustomization.yaml
  controller/config/samples/mosn.io_v1_consumer.yaml
  controller/internal/controller/consumer_controller.go
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/testdata/default_filters.yml
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/helper.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/controller/testdata/consumer/consumer.yml
  controller/tests/pkg/utils.go
  pkg/consumer/consumer.go
  pkg/consumer/consumer_manager.go
Labels: controller

consumer: build idx
  api/v1/header.pb.go
  api/v1/http_status.pb.go
  api/v1/matcher.pb.go
  controller/internal/controller/consumer_controller.go
  controller/internal/translation/merged_state.go
  controller/tests/integration/controller/consumer_controller_test.go
  examples/dev_your_plugin/plugins/config.pb.go
  pkg/consumer/consumer.go
  pkg/consumer/consumer_manager.go
  pkg/consumer/consumer_manager_test.go
  pkg/consumer/consumer_test.go
  pkg/plugins/config.pb.go
  pkg/plugins/type.go
  plugins/casbin/config.pb.go
  plugins/demo/config.pb.go
  plugins/key_auth/config.go
  plugins/key_auth/config.pb.go
  plugins/key_auth/config.pb.validate.go
  plugins/key_auth/config.proto
  plugins/key_auth/filter.go
  plugins/opa/config.pb.go
  plugins/tests/integration/config.pb.go
  site/content/en/docs/developer-guide/plugin_development.md
Labels: controller, documentation, plugins hub

change the generated name convension as HTTPRoute (#178)
  controller/api/v1/istio_webhook.go
  controller/api/v1/istio_webhook_test.go
Labels: controller

'ignore_empty: false' is default, no need to specify it (#180)
  plugins/casbin/config.pb.go
  plugins/casbin/config.proto
  plugins/demo/config.pb.go
  plugins/demo/config.proto
  plugins/ext_auth/config.pb.go
  plugins/ext_auth/config.proto
  plugins/opa/config.pb.go
  plugins/opa/config.proto
Labels: plugins hub

Disable auto-updates for Envoy & Istio pkg (#181)
  .github/dependabot.yml
Labels: none

lint: check package name
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/helper.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/webhook/webhook_suite_test.go
  tools/cmd/linter/main.go
Labels: controller

silent the warning for using relative operation
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/testdata/default_filters.yml
  controller/internal/translation/testdata/plugins/local_ratelimit.out.yml
  controller/internal/translation/testdata/plugins/post_lua.out.yml
  controller/internal/translation/testdata/plugins/pre_lua.out.yml
Labels: controller

consumer: build idx (#183)
  api/v1/header.pb.go
  api/v1/http_status.pb.go
  api/v1/matcher.pb.go
  controller/internal/controller/consumer_controller.go
  controller/internal/translation/merged_state.go
  controller/tests/integration/controller/consumer_controller_test.go
  examples/dev_your_plugin/plugins/config.pb.go
  pkg/consumer/consumer.go
  pkg/consumer/consumer_manager.go
  pkg/consumer/consumer_manager_test.go
  pkg/consumer/consumer_test.go
  pkg/plugins/config.pb.go
  pkg/plugins/type.go
  plugins/key_auth/config.go
  plugins/key_auth/config.pb.go
  plugins/key_auth/config.pb.validate.go
  plugins/key_auth/config.proto
  plugins/key_auth/filter.go
  plugins/tests/integration/config.pb.go
  site/content/en/docs/developer-guide/plugin_development.md
Labels: controller, documentation, plugins hub

Fix EnvoyFilter_EXTENSION_CONFIG's Operation
  controller/internal/istio/envoyfilter.go
Labels: controller

consumer: auth in dp
  controller/api/v1/consumer_types.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/internal/controller/consumer_controller.go
  controller/internal/translation/merged_state.go
  controller/internal/translation/testdata/translation/consumer.in.yml
  controller/internal/translation/testdata/translation/consumer.out.yml
  pkg/consumer/consumer.go
  pkg/consumer/consumer_test.go
  pkg/filtermanager/api/api.go
  pkg/filtermanager/filtermanager.go
  pkg/plugins/plugins.go
  pkg/plugins/type.go
  plugins/key_auth/config_test.go
  plugins/key_auth/filter.go
  plugins/plugins.go
  plugins/tests/integration/control_plane/control_plane.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/key_auth_test.go
  plugins/tests/integration/libgolang/main.go
  plugins/tests/pkg/envoy/capi.go
Labels: controller, filter manager, plugins hub

doc: add plugin limit_req (#182)
  site/content/en/docs/reference/plugins/limit_req.md
Labels: documentation

unite the usage case server addr and fix doc
  e2e/base/default.yml
  e2e/base/httproute.yml
  e2e/pkg/suite/suite.go
  e2e/port-forward.sh
  e2e/tests/httproute.yml
  site/content/en/docs/reference/plugins/casbin.md
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/plugins/limit_req.md
  site/content/en/docs/reference/plugins/local_ratelimit.md
  site/content/en/docs/reference/plugins/opa.md
  site/content/en/docs/reference/plugins/post_lua.md
  site/content/en/docs/reference/plugins/pre_lua.md
Labels: documentation

lint: check package name (#184)
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/helper.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/webhook/webhook_suite_test.go
  tools/cmd/linter/main.go
Labels: controller

Fix EnvoyFilter_EXTENSION_CONFIG's Operation (#186)
  controller/internal/istio/envoyfilter.go
Labels: controller

silent the warning for using relative operation (#185)
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/testdata/default_filters.yml
  controller/internal/translation/testdata/plugins/local_ratelimit.out.yml
  controller/internal/translation/testdata/plugins/post_lua.out.yml
  controller/internal/translation/testdata/plugins/pre_lua.out.yml
Labels: controller

consumer: auth in dp (#187)
  controller/api/v1/consumer_types.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/internal/controller/consumer_controller.go
  controller/internal/translation/merged_state.go
  controller/internal/translation/testdata/translation/consumer.in.yml
  controller/internal/translation/testdata/translation/consumer.out.yml
  pkg/consumer/consumer.go
  pkg/consumer/consumer_test.go
  pkg/filtermanager/api/api.go
  pkg/filtermanager/filtermanager.go
  pkg/plugins/plugins.go
  pkg/plugins/type.go
  plugins/key_auth/config_test.go
  plugins/key_auth/filter.go
  plugins/plugins.go
  plugins/tests/integration/control_plane/control_plane.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/key_auth_test.go
  plugins/tests/integration/libgolang/main.go
  plugins/tests/pkg/envoy/capi.go
Labels: controller, filter manager, plugins hub

move config as a field in CRD
  controller/api/v1/consumer_types.go
  controller/api/v1/httpfilterpolicy_types.go
  controller/api/v1/types.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/config/crd/bases/mosn.io_httpfilterpolicies.yaml
  controller/internal/model/model.go
  controller/internal/translation/merged_state.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
Labels: controller

unite the usage case server addr and fix doc (#188)
  e2e/base/default.yml
  e2e/base/httproute.yml
  e2e/pkg/suite/suite.go
  e2e/port-forward.sh
  e2e/tests/httproute.yml
  site/content/en/docs/reference/plugins/casbin.md
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/plugins/limit_req.md
  site/content/en/docs/reference/plugins/local_ratelimit.md
  site/content/en/docs/reference/plugins/opa.md
  site/content/en/docs/reference/plugins/post_lua.md
  site/content/en/docs/reference/plugins/pre_lua.md
Labels: documentation

track image ver as other dependencies in /site
  .github/dependabot.yml
  site/Dockerfile
Labels: documentation

move config as a field in CRD (#190)
  controller/api/v1/consumer_types.go
  controller/api/v1/httpfilterpolicy_types.go
  controller/api/v1/types.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/api/v1/zz_generated.deepcopy.go
  controller/config/crd/bases/mosn.io_consumers.yaml
  controller/config/crd/bases/mosn.io_httpfilterpolicies.yaml
  controller/internal/model/model.go
  controller/internal/translation/merged_state.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
Labels: controller

track image ver as other dependencies in /site (#191)
  .github/dependabot.yml
  site/Dockerfile
Labels: documentation

add clang-format to fmt proto
  .clang-format
  .github/workflows/lint.yml
  Makefile
  api/v1/header.proto
  plugins/casbin/config.proto
  plugins/demo/config.proto
  plugins/ext_auth/config.proto
  plugins/key_auth/config.proto
  plugins/opa/config.proto
  tools/Dockerfile.dev
Labels: plugins hub

fix lint
  .clang-format
  .editorconfig
Labels: none

key_auth: fullfil
  plugins/key_auth/config_test.go
  plugins/key_auth/filter.go
  plugins/tests/integration/key_auth_test.go
Labels: plugins hub

add hmac_auth plugin
  plugins/hmac_auth/config.go
  plugins/hmac_auth/config.pb.go
  plugins/hmac_auth/config.pb.validate.go
  plugins/hmac_auth/config.proto
  plugins/hmac_auth/config_test.go
  plugins/hmac_auth/filter.go
  plugins/hmac_auth/filter_test.go
  plugins/plugins.go
  plugins/tests/integration/control_plane/control_plane.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/hmac_auth_test.go
Labels: plugins hub

fix lint
  plugins/hmac_auth/config.go
  plugins/hmac_auth/config.proto
  plugins/hmac_auth/config_test.go
  plugins/hmac_auth/filter.go
  plugins/hmac_auth/filter_test.go
  plugins/limit_req/config.pb.go
Labels: plugins hub
