Repository mosn/htnn, changes with the labels that .github/labeler.yml gives for each.
All labels: controller, documentation, filter manager, plugins hub

.github/labeler.yml:

controller:
- controller/**

documentation:
- site/**
- '**/*.md'

'filter manager':
- pkg/filtermanager/**

'plugins hub':
- plugins/**

controller: add pprof (#102)
  .editorconfig
  controller/cmd/main.go
  site/content/en/docs/operations-guide/controller/observability.md
Labels: controller, documentation

opt: cache & reduce reconciliation
  controller/api/v1/httpfilterpolicy_types.go
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/internal/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/testdata/httpfilterpolicy/valid-httpfilterpolicy.yml
  site/content/en/docs/operations-guide/controller/observability.md
Labels: controller, documentation

add everything else lint
  .github/workflows/lint.yml
  Makefile
  tools/cmd/linter/main.go
  tools/go.mod
Labels: none

add issue template (#112)
  .github/ISSUE_TEMPLATE/Add_New_Feature.md
  .github/ISSUE_TEMPLATE/Ask_Question.md
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: documentation

init native plugin support
  controller/api/v1/httpfilterpolicy_types.go
  controller/api/v1/plugins.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/go.mod
  controller/go.sum
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/envoyfilter_test.go
  controller/internal/istio/testdata/default_filters.yml
  controller/internal/translation/final_state.go
  controller/internal/translation/merged_state.go
  controller/internal/translation/testdata/translation/pre-native-plugin-and-go-plugin.in.yml
  controller/internal/translation/testdata/translation/pre-native-plugin-and-go-plugin.out.yml
  controller/plugins/local_ratelimit/config.go
  controller/plugins/plugins.go
  examples/dev_your_plugin/plugins/your_plugin.go
  pkg/plugins/mock.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/plugins/type.go
  pkg/proto/proto.go
  plugins/demo/config.go
  plugins/tests/integration/data_plane/bootstrap.go
  plugins/tests/integration/test_plugins.go
Labels: controller, plugins hub

opt: cache & reduce reconciliation (#117)
  controller/api/v1/httpfilterpolicy_types.go
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/internal/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/integration/controller/testdata/httpfilterpolicy/valid-httpfilterpolicy.yml
  site/content/en/docs/operations-guide/controller/observability.md
Labels: controller, documentation

make fmt-go
  controller/go.mod
  controller/go.sum
Labels: controller

add controller benchmark framework
  controller/Makefile
  controller/config/samples/_v1_httpfilterpolicy.yaml
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/tests/benchmark/httpfilterpolicy_controller_test.go
  controller/tests/benchmark/suite_test.go
  controller/tests/benchmark/testdata/httpfilterpolicy.yml
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/pkg/utils.go
  controller/tests/testdata/crd/networking.istio.io_envoyfilters.yaml
  controller/tests/testdata/crd/networking.istio.io_gateways.yaml
  controller/tests/testdata/crd/networking.istio.io_virtualservices.yaml
Labels: controller

fix issue template file type
  .github/ISSUE_TEMPLATE/Add_New_Feature.yml
  .github/ISSUE_TEMPLATE/Ask_Question.yml
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: none

add everything else lint (#118)
  .github/workflows/lint.yml
  Makefile
  tools/cmd/linter/main.go
  tools/go.mod
Labels: none

don't log info level (which is always 0) in data plane
  controller/go.mod
  controller/go.sum
  go.mod
  go.sum
  pkg/log/log_envoy.go
Labels: controller

make scale configurable
  controller/tests/benchmark/httpfilterpolicy_controller_test.go
Labels: controller

add HA doc
  site/content/en/docs/operations-guide/controller/high_availability.md
  tools/cmd/linter/main.go
Labels: documentation

init native plugin support (#119)
  controller/api/v1/httpfilterpolicy_types.go
  controller/api/v1/plugins.go
  controller/api/v1/validation.go
  controller/api/v1/validation_test.go
  controller/go.mod
  controller/go.sum
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/envoyfilter_test.go
  controller/internal/istio/testdata/default_filters.yml
  controller/internal/translation/final_state.go
  controller/internal/translation/merged_state.go
  controller/internal/translation/testdata/translation/pre-native-plugin-and-go-plugin.in.yml
  controller/internal/translation/testdata/translation/pre-native-plugin-and-go-plugin.out.yml
  controller/plugins/local_ratelimit/config.go
  controller/plugins/plugins.go
  examples/dev_your_plugin/plugins/your_plugin.go
  pkg/plugins/mock.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/plugins/type.go
  pkg/proto/proto.go
  plugins/demo/config.go
  plugins/tests/integration/data_plane/bootstrap.go
  plugins/tests/integration/test_plugins.go
Labels: controller, plugins hub

add controller benchmark framework (#122)
  controller/Makefile
  controller/config/samples/_v1_httpfilterpolicy.yaml
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/tests/benchmark/httpfilterpolicy_controller_test.go
  controller/tests/benchmark/suite_test.go
  controller/tests/benchmark/testdata/httpfilterpolicy.yml
  controller/tests/integration/controller/httpfilterpolicy_controller_test.go
  controller/tests/pkg/utils.go
  controller/tests/testdata/crd/networking.istio.io_envoyfilters.yaml
  controller/tests/testdata/crd/networking.istio.io_gateways.yaml
  controller/tests/testdata/crd/networking.istio.io_virtualservices.yaml
Labels: controller

fix k8s path so we can run test without KUBEBUILDER_ASSETS
  controller/Makefile
  controller/tests/benchmark/httpfilterpolicy_controller_test.go
  controller/tests/benchmark/suite_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/webhook/webhook_suite_test.go
Labels: controller

controller: don't generate Go filter if not Go plugin is configured
  controller/internal/translation/merged_state.go
  controller/internal/translation/testdata/translation/native-plugin-only.in.yml
  controller/internal/translation/testdata/translation/native-plugin-only.out.yml
Labels: controller

fix issue template file type (#123)
  .github/ISSUE_TEMPLATE/Add_New_Feature.yml
  .github/ISSUE_TEMPLATE/Ask_Question.yml
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: none

fix conf
  controller/internal/translation/testdata/translation/native-plugin-only.in.yml
  controller/internal/translation/testdata/translation/native-plugin-only.out.yml
  controller/internal/translation/testdata/translation/pre-native-plugin-and-go-plugin.in.yml
Labels: controller

fix ISSUE_TEMPLATE again
  .github/ISSUE_TEMPLATE/Add_New_Feature.yml
  .github/ISSUE_TEMPLATE/Ask_Question.yml
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: none

fix ISSUE_TEMPLATE again (#133)
  .github/ISSUE_TEMPLATE/Add_New_Feature.yml
  .github/ISSUE_TEMPLATE/Ask_Question.yml
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: none

tweak label name
  .github/ISSUE_TEMPLATE/Add_New_Feature.yml
  .github/ISSUE_TEMPLATE/Ask_Question.yml
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: none

don't log info level (which is always 0) in data plane (#124)
  controller/go.mod
  controller/go.sum
  go.mod
  go.sum
  pkg/log/log_envoy.go
Labels: controller

doc: add Attribute
  pkg/plugins/type.go
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/reference/plugins/casbin.md
  site/content/en/docs/reference/plugins/demo.md
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/plugins/opa.md
Labels: documentation

controller: don't generate Go filter if not Go plugin is configured (#131)
  controller/internal/translation/merged_state.go
  controller/internal/translation/testdata/translation/native-plugin-only.in.yml
  controller/internal/translation/testdata/translation/native-plugin-only.out.yml
  controller/internal/translation/testdata/translation/pre-native-plugin-and-go-plugin.in.yml
Labels: controller

validations
  .github/ISSUE_TEMPLATE/Add_New_Feature.yml
  .github/ISSUE_TEMPLATE/Ask_Question.yml
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: none

support fixing rego file's license
  .licenserc.yaml
Labels: none

ext_auth: fix time unit in doc
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/type.md
Labels: documentation

tweak label name (#135)
  .github/ISSUE_TEMPLATE/Add_New_Feature.yml
  .github/ISSUE_TEMPLATE/Ask_Question.yml
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: none

allow integration test to register backend route
  plugins/tests/integration/data_plane/bootstrap.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/data_plane/data_plane.go
  plugins/tests/integration/ext_auth_route.yml
  plugins/tests/integration/ext_auth_test.go
Labels: plugins hub

add HA doc (#125)
  site/content/en/docs/operations-guide/controller/high_availability.md
  tools/cmd/linter/main.go
Labels: documentation

support fixing rego file's license (#141)
  .licenserc.yaml
Labels: none

doc: add Attribute (#140)
  pkg/plugins/type.go
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/reference/plugins/casbin.md
  site/content/en/docs/reference/plugins/demo.md
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/plugins/opa.md
Labels: documentation

support HTTPRoute, part 1
  controller/api/v1/validation.go
  controller/cmd/main.go
  controller/config/rbac/role.yaml
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/internal/translation/data_plane_state.go
  controller/internal/translation/data_plane_state_test.go
  controller/internal/translation/final_state.go
  controller/internal/translation/init_state.go
  controller/internal/translation/testdata/translation/httproute-both-no-hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute-both-no-hostnames.out.yml
  controller/internal/translation/testdata/translation/httproute-no-hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute-no-hostnames.out.yml
  controller/internal/translation/testdata/translation/httproute.in.yml
  controller/internal/translation/testdata/translation/httproute.out.yml
  controller/internal/translation/testdata/translation/merge-same-level-httpfilterpolicy.in.yml
  controller/internal/translation/testdata/translation/native-plugin-only.in.yml
  controller/internal/translation/testdata/translation/pre-native-plugin-and-go-plugin.in.yml
  controller/internal/translation/testdata/translation/virtualservice-and-section-name.in.yml
  controller/internal/translation/testdata/translation/virtualservice-section-name-share-host.in.yml
  controller/internal/translation/testdata/translation/virtualservice-section-name.in.yml
  controller/internal/translation/testdata/translation/virtualservice-share-host.in.yml
  controller/internal/translation/testdata/translation/virtualservice-wildcard-gateway.in.yml
  controller/internal/translation/testdata/translation/virtualservice-wildcard-host.in.yml
  controller/internal/translation/testdata/translation/virtualservice.in.yml
  controller/internal/translation/translation_test.go
  controller/tests/benchmark/suite_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/testdata/crd/gateway.networking.k8s.io_gateways.yaml
  controller/tests/testdata/crd/gateway.networking.k8s.io_httproutes.yaml
Labels: controller

don't listen 0.0.0.0 when testing
  controller/tests/benchmark/suite_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/webhook/webhook_suite_test.go
Labels: controller

use single go.mod
  .github/dependabot.yml
  .github/workflows/test.yml
  Makefile
  controller/go.mod
  controller/go.sum
  go.mod
  go.sum
  tools/go.mod
Labels: controller

allow integration test to register backend route (#143)
  plugins/tests/integration/data_plane/bootstrap.go
  plugins/tests/integration/data_plane/bootstrap.yml
  plugins/tests/integration/data_plane/data_plane.go
  plugins/tests/integration/ext_auth_route.yml
  plugins/tests/integration/ext_auth_test.go
Labels: plugins hub

don't listen 0.0.0.0 when testing (#148)
  controller/tests/benchmark/suite_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/webhook/webhook_suite_test.go
Labels: controller

support HTTPRoute, part 1 (#146)
  controller/api/v1/validation.go
  controller/cmd/main.go
  controller/config/rbac/role.yaml
  controller/internal/controller/httpfilterpolicy_controller.go
  controller/internal/translation/data_plane_state.go
  controller/internal/translation/data_plane_state_test.go
  controller/internal/translation/final_state.go
  controller/internal/translation/init_state.go
  controller/internal/translation/testdata/translation/httproute-both-no-hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute-both-no-hostnames.out.yml
  controller/internal/translation/testdata/translation/httproute-no-hostnames.in.yml
  controller/internal/translation/testdata/translation/httproute-no-hostnames.out.yml
  controller/internal/translation/testdata/translation/httproute.in.yml
  controller/internal/translation/testdata/translation/httproute.out.yml
  controller/internal/translation/testdata/translation/merge-same-level-httpfilterpolicy.in.yml
  controller/internal/translation/testdata/translation/native-plugin-only.in.yml
  controller/internal/translation/testdata/translation/pre-native-plugin-and-go-plugin.in.yml
  controller/internal/translation/testdata/translation/virtualservice-and-section-name.in.yml
  controller/internal/translation/testdata/translation/virtualservice-section-name-share-host.in.yml
  controller/internal/translation/testdata/translation/virtualservice-section-name.in.yml
  controller/internal/translation/testdata/translation/virtualservice-share-host.in.yml
  controller/internal/translation/testdata/translation/virtualservice-wildcard-gateway.in.yml
  controller/internal/translation/testdata/translation/virtualservice-wildcard-host.in.yml
  controller/internal/translation/testdata/translation/virtualservice.in.yml
  controller/internal/translation/translation_test.go
  controller/tests/benchmark/suite_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/testdata/crd/gateway.networking.k8s.io_gateways.yaml
  controller/tests/testdata/crd/gateway.networking.k8s.io_httproutes.yaml
Labels: controller

add way to cover CP plugin in unit test
  controller/internal/translation/testdata/plugins/default.yml
  controller/internal/translation/testdata/plugins/local_ratelimit.in.yml
  controller/internal/translation/testdata/plugins/local_ratelimit.out.yml
  controller/internal/translation/translation_test.go
Labels: controller
