Repository mosn/htnn, pull requests merged in 2024-10, with the labels that each got.

#753 fix typo in patch
  patch/istio/1.21/20240410-embed-htnn-controller-go-code.patch
Labels: size/XS

#755 add feature maturity level record
  maintainer/feature_maturity_level.yaml
  maintainer/guide.md
  site/content/en/docs/reference/plugins/bandwidth_limit.md
  site/content/en/docs/reference/plugins/buffer.md
  site/content/en/docs/reference/plugins/casbin.md
  site/content/en/docs/reference/plugins/cel_script.md
  site/content/en/docs/reference/plugins/consumer_restriction.md
  site/content/en/docs/reference/plugins/cors.md
  site/content/en/docs/reference/plugins/debug_mode.md
  site/content/en/docs/reference/plugins/demo.md
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/plugins/fault.md
  site/content/en/docs/reference/plugins/hmac_auth.md
  site/content/en/docs/reference/plugins/inner_ext_proc.md
  site/content/en/docs/reference/plugins/inner_lua.md
  site/content/en/docs/reference/plugins/key_auth.md
  site/content/en/docs/reference/plugins/limit_count_redis.md
  site/content/en/docs/reference/plugins/limit_req.md
  site/content/en/docs/reference/plugins/listener_patch.md
  site/content/en/docs/reference/plugins/local_ratelimit.md
  site/content/en/docs/reference/plugins/oidc.md
  site/content/en/docs/reference/plugins/opa.md
  site/content/en/docs/reference/plugins/outer_ext_proc.md
  site/content/en/docs/reference/plugins/outer_lua.md
  site/content/en/docs/reference/plugins/tls_inspector.md
  site/content/en/docs/reference/registries/consul.md
  site/content/en/docs/reference/registries/nacos.md
  site/content/zh-hans/docs/reference/plugins/bandwidth_limit.md
  site/content/zh-hans/docs/reference/plugins/buffer.md
  site/content/zh-hans/docs/reference/plugins/casbin.md
  site/content/zh-hans/docs/reference/plugins/cel_script.md
  site/content/zh-hans/docs/reference/plugins/consumer_restriction.md
  site/content/zh-hans/docs/reference/plugins/cors.md
  site/content/zh-hans/docs/reference/plugins/debug_mode.md
  site/content/zh-hans/docs/reference/plugins/demo.md
  site/content/zh-hans/docs/reference/plugins/ext_auth.md
  site/content/zh-hans/docs/reference/plugins/fault.md
  site/content/zh-hans/docs/reference/plugins/hmac_auth.md
  site/content/zh-hans/docs/reference/plugins/inner_ext_proc.md
  site/content/zh-hans/docs/reference/plugins/inner_lua.md
  site/content/zh-hans/docs/reference/plugins/key_auth.md
  site/content/zh-hans/docs/reference/plugins/limit_count_redis.md
  site/content/zh-hans/docs/reference/plugins/limit_req.md
  site/content/zh-hans/docs/reference/plugins/listener_patch.md
  site/content/zh-hans/docs/reference/plugins/local_ratelimit.md
  site/content/zh-hans/docs/reference/plugins/oidc.md
  site/content/zh-hans/docs/reference/plugins/opa.md
  site/content/zh-hans/docs/reference/plugins/outer_ext_proc.md
  site/content/zh-hans/docs/reference/plugins/outer_lua.md
  site/content/zh-hans/docs/reference/plugins/tls_inspector.md
  site/content/zh-hans/docs/reference/registries/consul.md
  site/content/zh-hans/docs/reference/registries/nacos.md
  tools/cmd/linter/main.go
  tools/go.mod
  tools/go.sum
Labels: size/L

#760 release: finish the release of v0.4.0
  CHANGELOG.md
  controller/go.mod
  controller/go.sum
  e2e/go.mod
  e2e/go.sum
  examples/dev_your_plugin/go.mod
  examples/dev_your_plugin/go.sum
  examples/dev_your_plugin/tests/integration/your_plugin_test.go
  maintainer/guide.md
  manifests/charts/htnn-controller/Chart.yaml
  manifests/charts/htnn-controller/README.md
  manifests/charts/htnn-gateway/Chart.yaml
  manifests/charts/htnn-gateway/README.md
  plugins/go.sum
  types/go.mod
  types/go.sum
Labels: size/L

#759 e2e: retry to solve timeout
  e2e/go.mod
  e2e/go.sum
  e2e/tests/consumer.go
Labels: size/S

#764 test: add ability to specify extra cluster
  api/plugins/tests/integration/dataplane/bootstrap.go
Labels: size/S

#766 doc: fix plugin_integration_test_framework.md
  site/content/en/docs/developer-guide/plugin_integration_test_framework.md
  site/content/zh-hans/docs/developer-guide/plugin_integration_test_framework.md
Labels: size/S

#767 feat(makefile, workflows): add YAML linter to workflow and Makefile
  .github/workflows/lint.yml
  Makefile
Labels: size/S

#765 test: unite the task name
  .github/workflows/test.yml
  controller/Makefile
  controller/tests/integration/helper/helper.go
Labels: size/S

#761 ci: improve linter & avoid crash with garbage input
  tools/cmd/linter/main.go
  types/plugins/plugins_test.go
Labels: size/M

#769 add routePatch plugin
  controller/internal/istio/envoyfilter.go
  controller/internal/model/model.go
  controller/internal/translation/merged_state.go
  controller/plugins/plugins.go
  controller/plugins/routepatch/config.go
  controller/plugins/testdata/http/route_patch.in.yml
  controller/plugins/testdata/http/route_patch.out.yml
  e2e/Makefile
  e2e/base/nacos.yml
  e2e/pkg/suite/suite.go
  e2e/tests/route_patch.go
  e2e/tests/route_patch.yml
  manifests/Makefile
  manifests/images/cp/Dockerfile
  manifests/images/dp/Dockerfile
  types/plugins/plugins.go
  types/plugins/routepatch/config.go
Labels: size/L

#774 fix: the plugin order sent from controller may be wrong
  api/pkg/plugins/plugins.go
  controller/internal/translation/testdata/translation/virtualservice_subpolicies.out.yml
Labels: size/S

#775 fix: change inner req hdr caused race
  api/pkg/filtermanager/filtermanager_dev.go
Labels: size/S

#776 opt quick start doc
  controller/go.sum
  e2e/go.mod
  e2e/go.sum
  plugins/go.sum
  site/content/en/docs/getting-started/quick_start.md
  site/content/zh-hans/docs/getting-started/quick_start.md
  types/go.sum
Labels: size/L

#740 feat: sentinel plugin
  .licenserc.yaml
  maintainer/feature_maturity_level.yaml
  plugins/go.mod
  plugins/go.sum
  plugins/plugins.go
  plugins/plugins/sentinel/config.go
  plugins/plugins/sentinel/config_test.go
  plugins/plugins/sentinel/filter.go
  plugins/plugins/sentinel/filter_test.go
  plugins/plugins/sentinel/rules/circuitbreaker.go
  plugins/plugins/sentinel/rules/flow.go
  plugins/plugins/sentinel/rules/hotspot.go
  plugins/tests/integration/sentinel_route.yaml
  plugins/tests/integration/sentinel_test.go
  site/content/en/docs/reference/plugins/sentinel.md
  site/content/zh-hans/docs/reference/plugins/sentinel.md
  tools/cmd/linter/main.go
  types/plugins/plugins.go
  types/plugins/sentinel/config.go
  types/plugins/sentinel/config.pb.go
  types/plugins/sentinel/config.pb.validate.go
  types/plugins/sentinel/config.proto
Labels: size/XXL

#773 change: allow missing consumer
  api/pkg/filtermanager/filtermanager.go
  e2e/tests/consumer.go
  e2e/tests/consumer.yml
  e2e/tests/consumer_in_gateway.yml
  plugins/plugins/consumerrestriction/config.go
  plugins/plugins/consumerrestriction/filter.go
  plugins/tests/integration/hmac_auth_test.go
  plugins/tests/integration/key_auth_test.go
  site/content/en/docs/concept/consumer.md
  site/content/en/docs/reference/plugins/consumer_restriction.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/reference/plugins/consumer_restriction.md
  tools/cmd/linter/main.go
  types/plugins/consumerrestriction/config.pb.go
  types/plugins/consumerrestriction/config.pb.validate.go
  types/plugins/consumerrestriction/config.proto
Labels: size/L

#771 test: move grpc test scaffold out of the test framework
  api/plugins/tests/integration/dataplane/bootstrap.yml
  api/tests/integration/filtermanager_latest_test.go
  api/tests/integration/testdata/grpc_backend.yml
  api/tests/integration/testdata/grpc_route.yml
  api/tests/integration/testdata/services/docker-compose.yml
  plugins/tests/integration/ext_auth_test.go
  plugins/tests/integration/testdata/ext_auth_route.yml
Labels: size/M

#772 build: move istio out of repo
  .github/workflows/test.yml
  .gitignore
  .licenserc.yaml
  Makefile
  external/.gitkeep
  manifests/images/cp/Dockerfile
  manifests/images/dp/Dockerfile
  patch/apply-patch.sh
Labels: size/M

#780 dev: fix broken 'make prebuild'
  .github/workflows/build-and-push-dev-image.yml
  Makefile
  manifests/images/cp/Dockerfile
  manifests/images/dp/Dockerfile
  patch/istio/1.21/20240410-htnn-go-mod.patch
Labels: size/M

#781 Update bootstrap.yml to fix host.docker.internal resolve as ip v6 address in docker v4.31.0
  api/plugins/tests/integration/dataplane/bootstrap.yml
Labels: size/XS

#782 fix: change inner req hdr caused race
  api/pkg/filtermanager/filtermanager_dev.go
Labels: size/XS

#784 debugmode: reduce the data we collect
  api/pkg/filtermanager/model/model.go
  api/pkg/filtermanager/wrapper.go
  api/pkg/filtermanager/wrapper_test.go
  plugins/plugins/debugmode/filter.go
  plugins/tests/integration/debug_mode_test.go
Labels: size/M

#783 add @WeixinX as the owner of sentinel
  CODEOWNERS
Labels: size/XS

#788 fix: previous error log is too strict
  api/pkg/filtermanager/filtermanager.go
  api/tests/integration/consumer_test.go
  api/tests/integration/test_plugins.go
  api/tests/integration/testdata/services/grpc/sample.pb.go
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/zh-hans/docs/developer-guide/plugin_development.md
Labels: size/L
