Repository mosn/htnn, pull requests merged in 2024-11, with the labels that each got.

#787 dev: make Fix #[issue] optional
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/XS

#786 ci: test with Go 1.22
  .github/workflows/build-and-push-dev-image.yml
  .github/workflows/lint.yml
  .github/workflows/release-branch.yml
  .github/workflows/release-tag.yml
  .github/workflows/test.yml
  .golangci.yml
  Makefile
  common.mk
  e2e/Makefile
  manifests/Makefile
  patch/apply-patch.sh
Labels: size/M

#790 doc: add routePatch plugin
  site/content/en/docs/reference/plugins/route_patch.md
  site/content/zh-hans/docs/reference/plugins/route_patch.md
  tools/cmd/linter/main.go
Labels: size/L

#793 optimize execution time recording
  api/pkg/filtermanager/filtermanager.go
  api/pkg/filtermanager/filtermanager_benchmark_test.go
  api/pkg/filtermanager/model/model.go
  api/pkg/filtermanager/wrapper.go
  api/pkg/filtermanager/wrapper_test.go
  plugins/plugins/debugmode/filter.go
Labels: size/L

#792 chore: clarify the priority of embedded mode FilterPolicy
  controller/internal/translation/merged_state_test.go
  controller/internal/translation/testdata/translation/policy_order.in.yml
  controller/internal/translation/testdata/translation/policy_order.out.yml
  controller/internal/translation/testdata/translation/virtualservice_embedded_mode.in.yml
  controller/internal/translation/testdata/translation/virtualservice_embedded_mode.out.yml
  controller/internal/translation/translation_test.go
  site/content/en/docs/concept/filterpolicy.md
  site/content/zh-hans/docs/concept/filterpolicy.md
Labels: size/L

#794 doc: add debug notes
  site/content/en/docs/concept/filterpolicy.md
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/developer-guide/plugin_integration_test_framework.md
  site/content/zh-hans/docs/concept/filterpolicy.md
  site/content/zh-hans/docs/developer-guide/plugin_development.md
  site/content/zh-hans/docs/developer-guide/plugin_integration_test_framework.md
  tools/cmd/linter/main.go
Labels: size/M

#799 docs: complement package name to variables' types
  site/content/zh-hans/docs/developer-guide/plugin_development.md
Labels: size/XS

#798 e2e: drop UNSAFE_PILOT_ENABLE_DELTA_TEST check
  e2e/htnn_controller_values.yaml
Labels: size/XS

#795 doc: add missing networkRBAC plugin
  maintainer/feature_maturity_level.yaml
  site/content/en/docs/reference/plugins/network_rbac.md
  site/content/zh-hans/docs/reference/plugins/network_rbac.md
  types/plugins/plugins_test.go
Labels: size/L

#800 add method to control if a phase can be run synchronously
  api/internal/consumer/consumer.go
  api/pkg/filtermanager/api/phase.go
  api/pkg/filtermanager/config.go
  api/pkg/filtermanager/filtermanager.go
  api/pkg/filtermanager/filtermanager_benchmark_test.go
  api/pkg/filtermanager/filtermanager_test.go
  api/pkg/filtermanager/model/model.go
  api/pkg/plugins/plugins.go
  api/pkg/plugins/type.go
  types/plugins/demo/config.go
Labels: size/XL

#789 change: switch the default Envoy version to 1.32
  .github/workflows/test.yml
  .golangci.yml
  api/go.mod
  api/go.sum
  api/pkg/filtermanager/api/api.go
  api/pkg/filtermanager/api_impl_129.go
  api/pkg/filtermanager/api_impl_131_132.go
  api/pkg/filtermanager/api_impl_latest.go
  api/pkg/filtermanager/filtermanager_129_131.go
  api/pkg/filtermanager/filtermanager_latest.go
  api/plugins/tests/integration/dataplane/data_plane.go
  api/plugins/tests/pkg/envoy/capi.go
  api/tests/integration/filtermanager_dev_test.go
  api/tests/integration/filtermanager_latest_test.go
  common.mk
  controller/go.mod
  controller/internal/controller/filterpolicy_controller.go
  controller/internal/translation/data_plane_state.go
  controller/internal/translation/data_plane_state_test.go
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/dynamicconfig_controller_test.go
  controller/tests/integration/controller/serviceregistry_controller_test.go
  e2e/go.mod
  go.work
  patch/switch-envoy-go-version.sh
  plugins/go.mod
  plugins/plugins/keyauth/config_test.go
  plugins/plugins/limitreq/config_test.go
  site/content/en/docs/developer-guide/dataplane_support.md
  site/content/zh-hans/docs/developer-guide/dataplane_support.md
  types/apis/v1/validation_test.go
  types/go.mod
Labels: size/L

#803 chore: refactor canSkipMethods logic
  api/internal/consumer/consumer.go
  api/pkg/filtermanager/api/phase.go
  api/pkg/filtermanager/filtermanager.go
Labels: size/L

#801 debugMode: protect record with lock
  api/pkg/filtermanager/wrapper.go
Labels: size/XS

#805 fix: canSyncRun should consider header processing when handling buffered data
  api/pkg/filtermanager/filtermanager.go
  api/pkg/filtermanager/filtermanager_test.go
Labels: size/L

#809 test: improve the config change detection
  api/plugins/tests/integration/controlplane/control_plane.go
  api/plugins/tests/integration/dataplane/data_plane.go
  api/plugins/tests/integration/dataplane/plugins.go
Labels: size/M

#810 test: support running integration test with envoy bin
  .github/workflows/test.yml
  api/Makefile
  api/plugins/tests/integration/dataplane/binary_mode.go
  api/plugins/tests/integration/dataplane/bootstrap.go
  api/plugins/tests/integration/dataplane/data_plane.go
  api/plugins/tests/integration/test_binary_mode.sh
  api/plugins/tests/integration/testdata/Dockerfile
  site/content/en/docs/developer-guide/plugin_integration_test_framework.md
  site/content/zh-hans/docs/developer-guide/plugin_integration_test_framework.md
Labels: size/L
