Repository mosn/htnn, pull requests merged in 2024-07, with the labels that each got.

#609 chore: unite the bin cache dir for all projects in go.work
  .github/workflows/test.yml
  .gitignore
  Makefile
  common.mk
  controller/Makefile
  e2e/Makefile
  e2e/istio.sh
  site/Makefile
Labels: size/M

#604 manifests: commit values.schema.json
  .github/workflows/lint.yml
  Makefile
  common.mk
  e2e/htnn_controller_values.yaml
  manifests/charts/htnn-controller/values.schema.json
  manifests/charts/htnn-gateway/values.schema.json
Labels: size/XXL

#628 add a workflow to alarm for merge conflict automatically
  .github/workflows/merge-conflicts.yml
Labels: size/S

#624 should reject empty Consumer
  types/apis/v1/validation.go
  types/apis/v1/validation_test.go
Labels: size/S

#623 doc the layer 4 plugins
  site/content/en/docs/concept/consumer.md
  site/content/en/docs/concept/filterpolicy.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/concept/filterpolicy.md
Labels: size/M

#633 fix indent in the yaml
  site/content/zh-hans/docs/reference/plugins/limit_count_redis.md
Labels: size/XS

#632 Support using L4 policy to TCP proxy created by Gateway API
  controller/internal/translation/init_state.go
  e2e/Makefile
  e2e/base/default.yml
  e2e/htnn_controller_values.yaml
  e2e/pkg/suite/suite.go
  e2e/port-forward.sh
  e2e/tests/httproute_other_namespace.go
  e2e/tests/policy_to_tcp_proxy.go
  e2e/tests/policy_to_tcp_proxy.yml
Labels: size/L

#638 ci: lint shell didn't reject imperfect script
  .github/workflows/lint.yml
  tools/gen-crd-code.sh
Labels: size/XS

#635 e2e: wait backend to ready
  e2e/pkg/suite/suite.go
Labels: size/S

#641 ci: lint Chinese doc
  .github/workflows/website.yml
  Makefile
  common.mk
  site/Makefile
  site/content/zh-hans/docs/concept/filterpolicy.md
  site/content/zh-hans/docs/developer-guide/plugin_development.md
  site/content/zh-hans/docs/reference/expr.md
  site/content/zh-hans/docs/reference/plugins/ext_auth.md
  site/content/zh-hans/docs/reference/plugins/limit_count_redis.md
  site/content/zh-hans/docs/reference/plugins/local_ratelimit.md
  site/content/zh-hans/docs/reference/plugins/oidc.md
  site/content/zh-hans/docs/reference/registries/nacos.md
  tools/Dockerfile.dev
Labels: size/M

#636 ci: lint dockerfile
  .github/workflows/lint.yml
  manifests/images/cp/Dockerfile
  manifests/images/dp/Dockerfile
  site/Dockerfile
  tools/Dockerfile.dev
Labels: size/M

#642 doc: add guide to dev HTNN
  examples/dev_your_plugin/cmd/libgolang/main.go
  site/.htmltest.yml
  site/content/en/docs/developer-guide/get_involved.md
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/zh-hans/docs/developer-guide/get_involved.md
  site/content/zh-hans/docs/developer-guide/plugin_development.md
Labels: size/L

#614 feat: Use fsnotify to detect model/policy files change in casbin plugin
  plugins/go.mod
  plugins/go.sum
  plugins/pkg/file/fs.go
  plugins/pkg/file/fs_test.go
  plugins/plugins/casbin/config.go
  plugins/plugins/casbin/filter.go
  plugins/tests/integration/casbin_test.go
Labels: size/L

#648 work around fsnotify issue on Mac
  plugins/pkg/file/fs_test.go
Labels: size/XS

#643 update comment for L4 support
  manifests/charts/htnn-controller/templates/crds/htnn.mosn.io_consumers.yaml
  manifests/charts/htnn-controller/templates/crds/htnn.mosn.io_filterpolicies.yaml
  manifests/charts/htnn-controller/templates/crds/htnn.mosn.io_httpfilterpolicies.yaml
  types/apis/v1/types.go
Labels: size/S

#645 mv api module integration test out of test framework
  api/Makefile
  api/tests/integration/api_test.go
  api/tests/integration/benchmark_test.go
  api/tests/integration/config.pb.go
  api/tests/integration/config.pb.validate.go
  api/tests/integration/config.proto
  api/tests/integration/consumer_test.go
  api/tests/integration/filtermanager_test.go
  api/tests/integration/http_filter_test.go
  api/tests/integration/libgolang/main.go
  api/tests/integration/suite_test.go
  api/tests/integration/test_plugins.go
Labels: size/S

#639 change(limitCountRedis): ensure the counter is not reset when the route is recreated
  plugins/go.mod
  plugins/plugins/limit_count_redis/config.go
  plugins/plugins/limit_count_redis/config_test.go
  plugins/tests/integration/limit_count_redis_test.go
  site/content/en/docs/getting-started/quick_start.md
  site/content/en/docs/reference/plugins/limit_count_redis.md
  site/content/zh-hans/docs/getting-started/quick_start.md
  site/content/zh-hans/docs/reference/plugins/limit_count_redis.md
  types/plugins/limit_count_redis/config.pb.go
  types/plugins/limit_count_redis/config.pb.validate.go
  types/plugins/limit_count_redis/config.proto
Labels: size/L

#650 doc: add zh introduction about HTNN.
  site/content/zh-hans/docs/getting-started/introduction.md
  site/static/images/HTNN-architecture.png
  site/static/images/HTNN.png
  tools/cmd/linter/main.go
Labels: size/L

#652 chore: improve lint err msg & solve annoying notifications
  .github/workflows/lint.yml
  tools/Dockerfile.dev
  tools/cmd/linter/main.go
Labels: size/S

#644 ci: release image by tag image/*
  .github/workflows/release-branch.yml
  .github/workflows/release-tag.yml
Labels: size/M

#646 fix: gateway deployed by istiod didn't use delta xds
  .github/workflows/lint.yml
  Makefile
  manifests/charts/htnn-controller/README.md
  manifests/charts/htnn-controller/values.schema.json
  manifests/charts/htnn-controller/values.yaml
Labels: size/M

#657 feat: support Consul as ServiceRegistry
  .licenserc.yaml
  controller/go.mod
  controller/go.sum
  controller/registries/consul/config.go
  controller/registries/consul/config_test.go
  e2e/go.mod
  e2e/go.sum
  plugins/go.mod
  plugins/go.sum
  types/registries/consul/config.go
  types/registries/consul/config.pb.go
  types/registries/consul/config.pb.validate.go
  types/registries/consul/config.proto
  types/registries/consul/config_test.go
Labels: size/XL

#658 ci: fix broken website link check
  .github/workflows/website.yml
  .gitignore
  Makefile
Labels: size/XS

#651 don't upload in the fork
  .github/workflows/build-and-push-dev-image.yml
  .github/workflows/test.yml
Labels: size/XS

#660 merge release/v0.3.0 to main
  .github/workflows/lint.yml
  .github/workflows/release-branch.yml
  .github/workflows/test.yml
  MAINTAIN.md
  Makefile
  controller/go.mod
  controller/go.sum
  e2e/Makefile
  e2e/go.mod
  e2e/go.sum
  e2e/istio.sh
  manifests/charts/htnn-controller/Chart.yaml
  manifests/charts/htnn-controller/README.md
  manifests/charts/htnn-controller/values.schema.json
  manifests/charts/htnn-controller/values.yaml
  manifests/charts/htnn-gateway/Chart.yaml
  manifests/charts/htnn-gateway/README.md
  manifests/images/cp/Dockerfile
  manifests/images/dp/Dockerfile
  plugins/go.mod
  plugins/go.sum
  site/content/en/docs/getting-started/quick_start.md
  site/content/zh-hans/docs/getting-started/quick_start.md
  tools/cmd/linter/main.go
  tools/gen-crd-code.sh
  types/go.mod
  types/go.sum
Labels: size/L

#655 downgrade dependencies that break the UT of istio
  patch/istio/1.21/20240410-htnn-go-mod.patch
Labels: size/XS
