Repository mosn/htnn, pull requests merged in 2024-08, with the labels that each got.

#663 doc: add wechat QR code
  README.md
  site/static/images/wechat_group.png
Labels: size/S

#664 fix: the consumer namespace may be wrong when N gateways with policy
  controller/internal/translation/data_plane_state.go
  controller/internal/translation/final_state.go
  controller/internal/translation/merged_state.go
  controller/internal/translation/testdata/translation/consumer_plugin_in_filterpolicy_to_multi_gateway.in.yml
  controller/internal/translation/testdata/translation/consumer_plugin_in_filterpolicy_to_multi_gateway.out.yml
Labels: size/L

#667 doc: introduction: add xdp & style tweaks.
  images/HTNN-architecture.png
  images/HTNN.png
  images/filtermanager_main_path.jpg
  images/filtermanager_sub_path.jpg
  images/wechat_group.png
  site/content/zh-hans/docs/getting-started/introduction.md
Labels: size/XS

#669 ci: don't use deprecated docker-compose
  api/plugins/tests/integration/helper/helper.go
  controller/Makefile
  plugins/Makefile
  site/Makefile
  site/content/en/docs/developer-guide/plugin_integration_test_framework.md
  site/content/zh-hans/docs/developer-guide/plugin_integration_test_framework.md
Labels: size/S

#670 doc: introduction: add chat group.
  images/dingding_group.png
  site/content/zh-hans/docs/getting-started/introduction.md
  site/static/images/dingding_group.png
Labels: size/S

#668 doc: ensure the link shown correctly in GitHub
  .gitignore
  site/Makefile
  site/content/en/docs/concept/consumer.md
  site/content/en/docs/concept/filterpolicy.md
  site/content/en/docs/concept/service_registry.md
  site/content/en/docs/developer-guide/get_involved.md
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/operations-guide/architecture/istio.md
  site/content/en/docs/reference/plugins/cel_script.md
  site/content/en/docs/reference/plugins/debug_mode.md
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/plugins/inner_ext_proc.md
  site/content/en/docs/reference/plugins/inner_lua.md
  site/content/en/docs/reference/plugins/limit_count_redis.md
  site/content/en/docs/reference/plugins/limit_req.md
  site/content/en/docs/reference/plugins/oidc.md
  site/content/en/docs/reference/plugins/opa.md
  site/content/en/docs/reference/registries/nacos.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/concept/filterpolicy.md
  site/content/zh-hans/docs/concept/service_registry.md
  site/content/zh-hans/docs/developer-guide/get_involved.md
  site/content/zh-hans/docs/developer-guide/plugin_development.md
  site/content/zh-hans/docs/operations-guide/architecture/istio.md
  site/content/zh-hans/docs/reference/plugins/cel_script.md
  site/content/zh-hans/docs/reference/plugins/debug_mode.md
  site/content/zh-hans/docs/reference/plugins/ext_auth.md
  site/content/zh-hans/docs/reference/plugins/inner_ext_proc.md
  site/content/zh-hans/docs/reference/plugins/inner_lua.md
  site/content/zh-hans/docs/reference/plugins/limit_count_redis.md
  site/content/zh-hans/docs/reference/plugins/limit_req.md
  site/content/zh-hans/docs/reference/plugins/oidc.md
  site/content/zh-hans/docs/reference/plugins/opa.md
  site/content/zh-hans/docs/reference/registries/nacos.md
  site/static/images/HTNN-architecture.png
  site/static/images/HTNN.png
  site/static/images/filtermanager_main_path.jpg
  site/static/images/filtermanager_sub_path.jpg
  site/static/images/wechat_group.png
Labels: size/L

#665 doc: add guide to submit PR
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/M

#674 feat: record plugin name which sends local reply
  api/pkg/filtermanager/filtermanager.go
  api/plugins/tests/integration/dataplane/bootstrap.go
  api/plugins/tests/pkg/envoy/capi.go
  api/tests/integration/filtermanager_test.go
Labels: size/L

#666 feat: support Consul as ServiceRegistry
  controller/registries/consul/config.go
  controller/registries/consul/config_test.go
  types/registries/consul/config.pb.go
  types/registries/consul/config.pb.validate.go
  types/registries/consul/config.proto
Labels: size/L

#676 should update the example to use the released version
  MAINTAIN.md
  Makefile
  examples/dev_your_plugin/cmd/libgolang/main.go
  examples/dev_your_plugin/etc/demo.yaml
  examples/dev_your_plugin/go.mod
  examples/dev_your_plugin/go.sum
  examples/dev_your_plugin/plugins/your_plugin.go
  examples/dev_your_plugin/tests/integration/suite_test.go
  examples/dev_your_plugin/tests/integration/your_plugin_test.go
  site/content/en/docs/developer-guide/get_involved.md
  site/content/zh-hans/docs/developer-guide/get_involved.md
Labels: size/M

#679 doc: update wechat group QR code
  images/wechat_group.png
Labels: size/XS

#678 chore: we don't remove go.work during release now
  go.work
Labels: size/XS

#680 e2e: solve the flaky consumer test
  e2e/htnn_controller_values.yaml
  e2e/pkg/suite/suite.go
Labels: size/XS

#683 feat(filtermanager): add way to inject log args
  api/pkg/filtermanager/api/api.go
  api/pkg/filtermanager/api_impl.go
  api/pkg/filtermanager/api_impl_test.go
  api/plugins/tests/pkg/envoy/capi.go
Labels: size/L

#685 release: finish the release of v0.3.2
  MAINTAIN.md
  Makefile
  common.mk
  controller/go.sum
  e2e/go.mod
  e2e/go.sum
  examples/dev_your_plugin/cmd/libgolang/main.go
  examples/dev_your_plugin/go.mod
  examples/dev_your_plugin/go.sum
  manifests/charts/htnn-controller/Chart.yaml
  manifests/charts/htnn-controller/README.md
  manifests/charts/htnn-gateway/Chart.yaml
  manifests/charts/htnn-gateway/README.md
  plugins/go.sum
  types/go.sum
Labels: size/M

#686 e2e: increase wait time to make it stable
  e2e/pkg/suite/suite.go
Labels: size/XS

#687 ci: fix stale GOROOT used by client-gen
  tools/gen-crd-code.sh
Labels: size/XS

#689 Update controller-gen version to avoid incompatibility with Go version.
  controller/Makefile
Labels: size/XS

#691 fix broken CI caused by upgrading controller-gen
  .github/workflows/lint.yml
  Makefile
  manifests/charts/htnn-controller/templates/crds/htnn.mosn.io_consumers.yaml
  manifests/charts/htnn-controller/templates/crds/htnn.mosn.io_filterpolicies.yaml
  manifests/charts/htnn-controller/templates/crds/htnn.mosn.io_httpfilterpolicies.yaml
  manifests/charts/htnn-controller/templates/crds/htnn.mosn.io_serviceregistries.yaml
Labels: size/L

#692 fix: should reset pluginState and other fields
  api/internal/consumer/mock.go
  api/pkg/filtermanager/api_impl.go
  api/pkg/filtermanager/api_impl_test.go
Labels: size/M

#693 debugMode: clarify only Go plugins can be recorded
  site/content/en/docs/reference/plugins/debug_mode.md
  site/content/zh-hans/docs/reference/plugins/debug_mode.md
Labels: size/S

#694 add server side filter patch
  patch/README.md
  patch/istio/1.21/20240823-server-side-filter.patch
Labels: size/L

#695 feat: support Consul as ServiceRegistry
  controller/registries/consul/config.go
  controller/registries/consul/config_test.go
  controller/registries/registries.go
  controller/tests/integration/registries/consul_test.go
  controller/tests/integration/registries/testdata/consul/default.yml
  controller/tests/testdata/services/docker-compose.yml
Labels: size/XL

#700 docs: add consul titles
  site/content/en/docs/reference/registries/consul.md
  site/content/zh-hans/docs/reference/registries/consul.md
Labels: size/L

#698 add @lyt122 as the owner of consul registry
  .licenserc.yaml
  CODEOWNERS
Labels: size/S

#701 allow setting listener access log via listenerPatch plugin
  controller/internal/istio/envoyfilter.go
  controller/internal/model/model.go
  controller/internal/translation/final_state.go
  controller/internal/translation/merged_state.go
  controller/plugins/listenerpatch/config.go
  controller/plugins/plugins.go
  controller/plugins/testdata/network/listener_patch.in.yml
  controller/plugins/testdata/network/listener_patch.out.yml
  e2e/e2e_test.go
  e2e/pkg/suite/suite.go
  e2e/tests/listener_patch.go
  e2e/tests/listener_patch.yml
  site/content/en/docs/reference/plugins/listener_patch.md
  site/content/zh-hans/docs/reference/plugins/listener_patch.md
  types/go.mod
  types/plugins/listenerpatch/config.go
  types/plugins/listenerpatch/config_test.go
  types/plugins/plugins.go
Labels: size/XL
