Repository mosn/htnn, pull requests merged in 2024-09, with the labels that each got.

#702 improve the UX of consul test
  controller/registries/consul/config_test.go
  controller/tests/testdata/services/docker-compose.yml
Labels: size/XS

#704 make UT stable on Mac by getting rid of gomonkey code
  controller/registries/consul/config_test.go
Labels: size/M

#708 fix Consul data race
  controller/registries/consul/config.go
Labels: size/XS

#699 chore: typo in var name
  types/plugins/networkrbac/config.go
Labels: size/S

#705 consumer: allow specifying different name when writing to k8s
  controller/internal/controller/consumer_controller.go
  controller/tests/integration/controller/consumer_controller_test.go
  controller/tests/integration/controller/testdata/consumer/consumer_name_conflict.yml
  e2e/tests/consumer.go
  e2e/tests/consumer.yml
  manifests/charts/htnn-controller/templates/crds/htnn.mosn.io_consumers.yaml
  types/apis/v1/consumer_types.go
Labels: size/M

#711 doc: EN version of introduction
  README.md
  site/content/en/docs/getting-started/introduction.md
Labels: size/L

#707 dynamicconfig: implement control plane (1/n)
  .github/workflows/labeler.yml
  controller/internal/controller/component/k8s.go
  controller/internal/controller/dynamicconfig_controller.go
  controller/internal/istio/envoyfilter.go
  controller/internal/istio/envoyfilter_test.go
  controller/internal/istio/testdata/dynamic_configs.yml
  controller/internal/metrics/metrics.go
  controller/internal/metrics/metrics_test.go
  controller/pkg/component/component.go
  controller/tests/integration/controller/dynamicconfig_controller_test.go
  controller/tests/integration/controller/suite_test.go
  controller/tests/integration/controller/testdata/dynamicconfig/dynamicconfig.yml
  controller/tests/pkg/utils.go
  manifests/charts/htnn-controller/templates/crds/htnn.mosn.io_dynamicconfigs.yaml
  manifests/charts/htnn-controller/templates/rbac/role.yaml
  patch/README.md
  patch/istio/1.21/20240903-dynamic-configs.patch
  types/apis/v1/dynamicconfig_types.go
  types/apis/v1/validation.go
  types/apis/v1/zz_generated.deepcopy.go
  types/pkg/client/clientset/versioned/typed/apis/v1/apis_client.go
  types/pkg/client/clientset/versioned/typed/apis/v1/dynamicconfig.go
  types/pkg/client/clientset/versioned/typed/apis/v1/fake/fake_apis_client.go
  types/pkg/client/clientset/versioned/typed/apis/v1/fake/fake_dynamicconfig.go
  types/pkg/client/clientset/versioned/typed/apis/v1/generated_expansion.go
Labels: size/XXL

#709 fix: missing err arg in the log of consumer controller
  controller/internal/controller/consumer_controller.go
Labels: size/XS

#712 controller: fix typo in var name
  controller/pkg/istio/istio.go
Labels: size/XS

#703 feat: support Nacos v2 as ServiceRegistry (1/n)
  controller/go.mod
  controller/go.sum
  controller/registries/nacos/client/client.go
  controller/registries/nacos/config.go
  controller/registries/nacos/config_test.go
  controller/registries/nacos/v1/config.go
  controller/registries/nacos/v1/config_test.go
  controller/registries/nacos/v2/config.go
  controller/registries/nacos/v2/config_test.go
  controller/tests/integration/controller/testdata/serviceregistry/default.yml
  controller/tests/integration/controller/testdata/serviceregistry/invalid.yml
  controller/tests/integration/controller/testdata/serviceregistry/multiple_nacos.yml
  controller/tests/integration/controller/testdata/serviceregistry/multiple_registries.yml
  controller/tests/integration/registries/nacos_test.go
  controller/tests/integration/registries/testdata/nacos/default.yml
  e2e/tests/serviceregistry.yml
  site/content/en/docs/reference/registries/nacos.md
  site/content/zh-hans/docs/reference/registries/nacos.md
  types/apis/v1/validation_test.go
  types/registries/nacos/config.pb.go
  types/registries/nacos/config.pb.validate.go
  types/registries/nacos/config.proto
  types/registries/nacos/config_test.go
Labels: size/XL

#716 dynamicconfig: implement e2e (3/n)
  Makefile
  controller/pkg/istio/istio.go
  e2e/tests/dynamicconfig.go
  e2e/tests/dynamicconfig.yml
  patch/istio/1.21/20240903-dynamic-configs.patch
Labels: size/L

#722 just update site doc to link consumer plugin section in consumer.md
  site/content/en/docs/concept/consumer.md
  site/content/zh-hans/docs/concept/consumer.md
Labels: size/XS

#721 test: ensure the correct EnvoyFilter is kept & improve Nacos config test
  controller/registries/nacos/v1/config.go
  controller/registries/nacos/v1/config_test.go
  controller/tests/integration/controller/consumer_controller_test.go
Labels: size/M

#719 add patch to avoid unnecessary xDS generation for our CRD
  patch/README.md
  patch/istio/1.21/20240912-optimize-xds-generation.patch
Labels: size/M

#718 feat: support Nacos v2 as ServiceRegistry (2/n)
  controller/registries/nacos/config.go
  controller/registries/nacos/v1/config.go
  controller/registries/nacos/v1/config_test.go
  controller/registries/nacos/v2/config.go
  controller/registries/nacos/v2/config_test.go
  controller/tests/integration/registries/nacos_test.go
  controller/tests/integration/registries/testdata/nacos/v2.yml
  controller/tests/testdata/services/docker-compose.yml
Labels: size/L

#733 ci: work around race bug
  .github/workflows/test.yml
  common.mk
Labels: size/XS

#735 upgrade opa
  plugins/go.mod
  plugins/go.sum
Labels: size/L

#736 feat: proto of sentinel plugin
  types/plugins/sentinel/config.go
  types/plugins/sentinel/config.pb.go
  types/plugins/sentinel/config.pb.validate.go
  types/plugins/sentinel/config.proto
Labels: size/L

#717 test(controller): move plugins test to plugins dir
  controller/internal/translation/translation_test.go
  controller/plugins/testdata/http/bandwidth_limit.in.yml
  controller/plugins/testdata/http/bandwidth_limit.out.yml
  controller/plugins/testdata/http/buffer.in.yml
  controller/plugins/testdata/http/buffer.out.yml
  controller/plugins/testdata/http/cors.in.yml
  controller/plugins/testdata/http/cors.out.yml
  controller/plugins/testdata/http/default.yml
  controller/plugins/testdata/http/fault.in.yml
  controller/plugins/testdata/http/fault.out.yml
  controller/plugins/testdata/http/inner_ext_proc.in.yml
  controller/plugins/testdata/http/inner_ext_proc.out.yml
  controller/plugins/testdata/http/inner_lua.in.yml
  controller/plugins/testdata/http/inner_lua.out.yml
  controller/plugins/testdata/http/local_ratelimit.in.yml
  controller/plugins/testdata/http/local_ratelimit.out.yml
  controller/plugins/testdata/http/outer_ext_proc.in.yml
  controller/plugins/testdata/http/outer_ext_proc.out.yml
  controller/plugins/testdata/http/outer_lua.in.yml
  controller/plugins/testdata/http/outer_lua.out.yml
  controller/plugins/translation_test.go
Labels: size/L

#724 add markdown lint
  .github/workflows/lint.yml
  Makefile
  README.md
  patch/README.md
  site/README.md
  site/content/en/docs/concept/service_registry.md
  site/content/en/docs/developer-guide/get_involved.md
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/en/docs/developer-guide/registry_development.md
  site/content/en/docs/getting-started/installation.md
  site/content/en/docs/operations-guide/observability.md
  site/content/en/docs/reference/expr.md
  site/content/en/docs/reference/plugins/bandwidth_limit.md
  site/content/en/docs/reference/plugins/buffer.md
  site/content/en/docs/reference/plugins/casbin.md
  site/content/en/docs/reference/plugins/cel_script.md
  site/content/en/docs/reference/plugins/consumer_restriction.md
  site/content/en/docs/reference/plugins/cors.md
  site/content/en/docs/reference/plugins/debug_mode.md
  site/content/en/docs/reference/plugins/ext_auth.md
  site/content/en/docs/reference/plugins/fault.md
  site/content/en/docs/reference/plugins/hmac_auth.md
  site/content/en/docs/reference/plugins/key_auth.md
  site/content/en/docs/reference/plugins/limit_count_redis.md
  site/content/en/docs/reference/plugins/limit_req.md
  site/content/en/docs/reference/plugins/local_ratelimit.md
  site/content/en/docs/reference/plugins/opa.md
  site/content/en/docs/reference/plugins/outer_lua.md
  site/content/en/docs/reference/registries/nacos.md
  site/content/en/docs/reference/type.md
  site/content/zh-hans/docs/concept/consumer.md
  site/content/zh-hans/docs/concept/embedded_mode.md
  site/content/zh-hans/docs/concept/filterpolicy.md
  site/content/zh-hans/docs/concept/service_registry.md
  site/content/zh-hans/docs/developer-guide/get_involved.md
  site/content/zh-hans/docs/developer-guide/registry_development.md
  site/content/zh-hans/docs/getting-started/introduction.md
  site/content/zh-hans/docs/operations-guide/observability.md
  site/content/zh-hans/docs/reference/expr.md
  site/content/zh-hans/docs/reference/plugins/bandwidth_limit.md
  site/content/zh-hans/docs/reference/plugins/buffer.md
  site/content/zh-hans/docs/reference/plugins/cel_script.md
  site/content/zh-hans/docs/reference/plugins/consumer_restriction.md
  site/content/zh-hans/docs/reference/plugins/cors.md
  site/content/zh-hans/docs/reference/plugins/debug_mode.md
  site/content/zh-hans/docs/reference/plugins/ext_auth.md
  site/content/zh-hans/docs/reference/plugins/fault.md
  site/content/zh-hans/docs/reference/plugins/hmac_auth.md
  site/content/zh-hans/docs/reference/plugins/key_auth.md
  site/content/zh-hans/docs/reference/plugins/limit_count_redis.md
  site/content/zh-hans/docs/reference/plugins/limit_req.md
  site/content/zh-hans/docs/reference/plugins/local_ratelimit.md
  site/content/zh-hans/docs/reference/plugins/oidc.md
  site/content/zh-hans/docs/reference/plugins/opa.md
  site/content/zh-hans/docs/reference/plugins/outer_lua.md
  site/content/zh-hans/docs/reference/registries/consul.md
  site/content/zh-hans/docs/reference/registries/nacos.md
  site/content/zh-hans/docs/reference/type.md
Labels: size/L

#737 docs: update the nacos v2
  site/content/en/docs/reference/registries/nacos.md
  site/content/zh-hans/docs/reference/registries/nacos.md
Labels: size/M

#729 DynamicConfig: add doc
  site/content/en/docs/concept/dynamic_config.md
  site/content/zh-hans/docs/concept/dynamic_config.md
Labels: size/L

#739 ci: fix markdownlint
  Makefile
  site/content/en/docs/concept/dynamic_config.md
  site/content/zh-hans/docs/concept/dynamic_config.md
Labels: size/M

#728 correct interface type passed to the GetHeaders
  plugins/pkg/request/request.go
Labels: size/XS

#745 Enhance the plugin example with more interfaces
  api/pkg/filtermanager/api/result_action.go
  examples/dev_your_plugin/Makefile
  examples/dev_your_plugin/cmd/libgolang/main.go
  examples/dev_your_plugin/go.mod
  examples/dev_your_plugin/go.sum
  examples/dev_your_plugin/plugins/your_plugin.go
  examples/dev_your_plugin/verify.sh
  plugins/plugins/demo/filter.go
  site/content/en/docs/developer-guide/plugin_development.md
Labels: size/M

#744 change: don't respect the req's ct when local reply in encode phases
  api/pkg/filtermanager/filtermanager.go
  api/pkg/filtermanager/filtermanager_test.go
Labels: size/S

#751 [typo] Pluin -> Plugin
  api/plugins/tests/integration/controlplane/control_plane.go
  api/tests/integration/api_test.go
  api/tests/integration/benchmark_test.go
  api/tests/integration/consumer_test.go
  api/tests/integration/filtermanager_test.go
  api/tests/integration/http_filter_test.go
  plugins/tests/integration/casbin_test.go
  plugins/tests/integration/cel_script_test.go
  plugins/tests/integration/consumer_restriction_test.go
  plugins/tests/integration/debug_mode_test.go
  plugins/tests/integration/demo_test.go
  plugins/tests/integration/ext_auth_test.go
  plugins/tests/integration/hmac_auth_test.go
  plugins/tests/integration/key_auth_test.go
  plugins/tests/integration/limit_count_redis_test.go
  plugins/tests/integration/limit_req_test.go
  plugins/tests/integration/oidc_test.go
  plugins/tests/integration/opa_test.go
Labels: size/L

#749 clarify the relationship between DecodeData & DecodeRequest and more
  api/pkg/filtermanager/filtermanager.go
  site/content/en/docs/developer-guide/plugin_development.md
  site/content/zh-hans/docs/developer-guide/plugin_development.md
Labels: size/S

#741 enable dual stack by default
  e2e/Makefile
  e2e/kind_cluster.yaml
  manifests/charts/htnn-controller/README.md
  manifests/charts/htnn-controller/values.schema.json
  manifests/charts/htnn-controller/values.yaml
Labels: size/S
