Repository mosn/htnn, pull requests merged in 2025-01, with the labels that each got.

#832 ci: don't use unstable mirror
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/website.yml
  api/tests/integration/testdata/services/grpc/Dockerfile
  common.mk
  controller/tests/testdata/services/docker-compose.yml
  e2e/base/nacos.yml
  examples/dev_your_plugin/Makefile
Labels: size/S

#834 ci: provide a way to mark PR as no stale
  .github/workflows/stale.yml
Labels: size/XS

#836 add more methods to control bootstrap config
  api/plugins/tests/integration/controlplane/control_plane.go
  api/plugins/tests/integration/dataplane/bootstrap.go
  api/plugins/tests/integration/dataplane/bootstrap_test.go
  api/plugins/tests/integration/dataplane/testdata/listener.yml
Labels: size/L

#835 limitCountRedis: add option to disable x-envoy-ratelimited
  plugins/plugins/limitcountredis/config_test.go
  plugins/plugins/limitcountredis/filter.go
  site/content/en/docs/reference/plugins/limit_count_redis.md
  site/content/zh-hans/docs/reference/plugins/limit_count_redis.md
  types/plugins/limitcountredis/config.pb.go
  types/plugins/limitcountredis/config.pb.validate.go
  types/plugins/limitcountredis/config.proto
Labels: size/M

#839 release: finish the release of v0.5.0
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  controller/go.mod
  controller/go.sum
  e2e/go.mod
  e2e/go.sum
  examples/dev_your_plugin/Makefile
  examples/dev_your_plugin/go.mod
  examples/dev_your_plugin/go.sum
  manifests/charts/htnn-controller/Chart.yaml
  manifests/charts/htnn-controller/README.md
  manifests/charts/htnn-gateway/Chart.yaml
  manifests/charts/htnn-gateway/README.md
  plugins/go.mod
  plugins/go.sum
  tools/go.mod
  tools/go.sum
  types/go.mod
  types/go.sum
Labels: size/L

#847 chore: track examples & tests in dependabot
  .github/dependabot.yml
  common.mk
Labels: size/S

#830 Fix crash due to shared mutable state in EnvoyFilter #53594
  patch/README.md
  patch/istio/1.21/20241224-fix-proto-panic.patch
Labels: size/L
